//- CLIENTS CAROUSEL
.clients-section
    .container
        #clients-carousel
            .item
                a(href='#{ourclients.client5.url}', target='_blank', title='#{ourclients.client5.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/telefonica.png', alt='#{ourclients.client5.alt}', title='#{ourclients.client5.title}')
            .item
                a(href='#{ourclients.client8.url}', target='_blank', title='#{ourclients.client8.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/tve.png', alt='#{ourclients.client8.alt}', title='#{ourclients.client8.title}')
            .item
                a(href='#{ourclients.client4.url}', target='_blank', title='#{ourclients.client4.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/emprende.png', alt='#{ourclients.client4.alt}', title='#{ourclients.client4.title}')
            .item
                a(href='#{ourclients.client9.url}', target='_blank', title='#{ourclients.client9.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/larazon.png', alt='#{ourclients.client9.alt}', title='#{ourclients.client9.title}')
            .item
                a(href='#{ourclients.client10.url}', target='_blank', title='#{ourclients.client10.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/expansion.png', alt='#{ourclients.client10.alt}', title='#{ourclients.client10.title}')
            .item
                a(href='#{ourclients.client2.url}', target='_blank', title='#{ourclients.client2.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/eleconomista.png', alt='#{ourclients.client2.alt}', title='#{ourclients.client2.title}')
            .item
                a(href='#{ourclients.client1.url}', target='_blank', title='#{ourclients.client1.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/abc.png', alt='#{ourclients.client1.alt}', title='#{ourclients.client1.title}')
            .item
                a(href='#{ourclients.client3.url}', target='_blank', title='#{ourclients.client3.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/forbes.png', alt='#{ourclients.client3.alt}', title='#{ourclients.client3.title}')
            .item
                a(href='#{ourclients.client6.url}', target='_blank', title='#{ourclients.client6.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/ticbeat.png', alt='#{ourclients.client6.alt}', title='#{ourclients.client6.title}')
            .item
                a(href='#{ourclients.client7.url}', target='_blank', title='#{ourclients.client7.title}')
                    img(src='#{localConfig.base_path}/images/home/clients/wwwhatsnew.png', alt='#{ourclients.client7.alt}', title='#{ourclients.client7.title}')