//- COSTUMERS SERVICES CONTACT AREA
.customer-service
   .container
      .col.s12.center
         ul
            li
               span #{common.customer_service.text2}
            li
               span #{common.customer_service.schedule}

//- FOOTER
footer.page-footer
    //- Footer :: links compilation
    .container.padTop50.padBot50
        .row.hover-anim
            .col.l3.s12.footer-nav-col
                h6 #{external.titles.help}
                ul.footLinks
                    //- Temporaly disabled "Help Center" link
                        li
                            a(href='#{external.helpcenter.url}', title='#{external.helpcenter.anchor}') #{external.helpcenter.anchor}
                    li
                        a(href='#{external.tutorials.url}', title='#{external.tutorials.anchor}', target='_blank',) #{external.tutorials.anchor}
                    li
                        a(href='#{external.blog.url}', title='#{external.blog.title}', target='_blank',) #{external.blog.anchor}
                    li
                        a(href='#{external.pwa.url}', title='#{external.pwa.anchor}', target='_blank',) #{external.pwa.anchor}
            .col.l3.s12.footer-nav-col
                h6 #{external.titles.uppl}
                ul.tabs-content-list.footLinks(type='circle')
                    li
                        a(href='#tabs', title='#{external.features.anchor}') #{external.features.anchor}
                    li
                        a(href='#timeline', title='#{external.create_apps.anchor}') #{external.create_apps.anchor}
                    li
                        a(href='#about', title='#{external.apps.anchor}') #{external.apps.anchor}
                    li
                        a(href='#{external.pricing.url}', title='#{external.pricing.anchor}') #{external.pricing.anchor}
            .col.l3.s12.footer-nav-col
                h6 #{external.titles.misc}
                ul.footLinks
                    li
                        a(href='#{external.about.url}', title='#{external.about.anchor}') #{external.about.anchor}
                    li
                        a(href='#{external.company.url}', title='#{external.company.anchor}') #{external.company.anchor}
                    //- li
                        a(href='#{external.partners.url}', title='#{external.partners.anchor}') #{external.partners.anchor}
                    li
                        a(href='#{external.breakfasts.url}', target='_blank', title='#{external.breakfasts.anchor}') #{external.breakfasts.anchor}
                    li
                        a(href='#hiring', title='#{external.hiring}', target='_blank') #{external.hiring}
                    //- Temporaly disabled "Press Area" link
                        li
                            a(href='#{external.media_kit.url}', title='#{external.media_kit.anchor}') #{external.media_kit.anchor}
            .col.l3.s12.footer-nav-col
                h6 #{external.titles.legal}
                ul.footLinks
                    li
                        a(href='#{footer.tos.legal.url}', title='#{footer.tos.legal.title}') #{footer.tos.legal.title}
                    li
                        a(href='#{footer.tos.privacy.url}', title='#{footer.tos.privacy.title}') #{footer.tos.privacy.title}
                    li
                        a(href='#{footer.tos.terms_of_use.url}', title='#{footer.tos.terms_of_use.title}') #{footer.tos.terms_of_use.title}
                    li
                        a(href='#{footer.tos.cookies.url}', title='#{footer.tos.cookies.title}') #{footer.tos.cookies.title}
    .clearfix
    //- Footer :: Copyright & Social Media icon buttons
    .footer-copyright
        .container
            span
                i.icon.icon-copyright
                | #{footer.brand_copy},
                span#js-current-year
            a(rel='nofollow', href='#{footer.partners.fibonad.url}', target='_blank', title='#{footer.partners.fibonad.title}') #{footer.byfibonad}
            i.icon.icon-dot
            em #{footer.signature}
            ul.rrss.right.hover-anim
                li.facebook
                    a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
                        i.icon.icon-facebook
                li.twitter
                    a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
                        i.icon.icon-twitter
                li.instagram
                    a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
                        i.icon.icon-instagram
                li.vimeo
                    a(href='#{external.vimeo.url}', target='_blank', title='#{external.vimeo.anchor}')
                        i.icon.icon-vimeo
                li.youtube
                    a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
                        i.icon.icon-youtube
                li.linkedin
                    a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
                        i.icon.icon-linkedin
                li.github
                    a(href='#{external.github.url}', target='_blank', title='#{external.github.anchor}')
                        i.icon.icon-github
                li.google
                    a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
                        i.icon.icon-gplus
    //- Footer :: Partners links
    .footer-bottom
        .container
             ul
                li
                    a(rel='nofollow', href='#{footer.partners.eu.url}', target='_blank', title='#{footer.partners.eu.title}')
                       img(src='#{localConfig.base_path}/images/home/icons/eu.png', alt='#{footer.partners.eu.title}', title='#{footer.partners.eu.title}')
                li
                    a(rel='nofollow', href='#{footer.partners.mixpanel.url}', target='_blank', title='#{footer.partners.mixpanel.title}')
                       img(src='#{localConfig.base_path}/images/home/icons/badge_light.png', alt='#{footer.partners.mixpanel.title}', title='#{footer.partners.mixpanel.title}')
                li.fibonad
                    a(rel='nofollow', href='#{footer.partners.fibonad.url}', target='_blank', title='#{footer.partners.fibonad.title}')
                        img(src='#{localConfig.base_path}/images/home/icons/fibonad.svg', alt='#{footer.partners.fibonad.title}', title='#{footer.partners.fibonad.title}')
                li
                    a(rel='nofollow', href='#{footer.partners.wayra.url}', target='_blank', title='#{footer.partners.wayra.title}')
                        img(src='#{localConfig.base_path}/images/home/icons/wayra.png', alt='#{footer.partners.wayra.title}', title='#{footer.partners.wayra.title}')
                 li
                     a(rel='nofollow', href='#{footer.partners.freepik.url}', target='_blank', title='#{footer.partners.freepik.title}')
                         img(src='#{localConfig.base_path}/images/home/icons/freepik.png', alt='#{footer.partners.freepik.title}', title='#{footer.partners.freepik.title}')