//- MODAL :: CONTACT
a.modal-action.modal-close.waves-effect.waves-green.btn-flat(title='#{modal.head.close}')
   i.icon.icon-cross
.modal-content
   h3 !{modal.head.contact_modal}
   .row.contact-btns
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{modal.button.telf}', title='#{modal.button.telephone}')
            i.icon.icon-phone
            span #{modal.button.telephone}
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{modal.button.email}', title='#{modal.button.support_mail}')
            i.icon.icon-mail
            span #{modal.button.support_mail}
   .row.contact-social
      ul.rrss-modal.hover-anim
         li.facebook
            a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
               i.icon.icon-facebook
         li.twitter
            a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
               i.icon.icon-twitter
         li.instagram
            a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
               i.icon.icon-instagram
         li.vimeo
            a(href='#{external.vimeo.url}', target='_blank', title='#{external.vimeo.anchor}')
               i.icon.icon-vimeo
         li.youtube
            a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
               i.icon.icon-youtube
         li.linkedin
            a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
               i.icon.icon-linkedin
         li.github
            a(href='#{external.github.url}', target='_blank', title='#{external.github.anchor}')
               i.icon.icon-github
         li.google
            a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
               i.icon.icon-gplus