// -MULTIDEVISES APPS block
section#multidevises.scrollspy
    .container
        .row
            .plans-head.text-center.padTop30
                h2.headTitles.noMargBot #{home.multidevises.title}
                p #{home.multidevises.sub_title}
        .row(data-aos='zoom-in-down', data-aos-delay='400')
            .multidevises-bg.marBot50
                img.responsive-img#image-test(src='#{localConfig.base_path}/images/home/bg/multidevise-bg.png', alt='#{home.multidevises.title}', title='#{home.multidevises.title}')