//- MULTIDEVISES APPS block
section#multidevices.scrollspy
    .container
        .row
            .plans-head.center-align.padTop30
                h2.headTitles.noMargBot #{home.multidevices.title}
                p #{home.multidevices.sub_title}
        .row(data-aos='zoom-in-down', data-aos-delay='400')
            .multidevices-bg.marBot50
                img.responsive-img#image-test(src='#{localConfig.base_path}/images/home/bg/multidevices-bg.png', alt='#{home.multidevices.title}', title='#{home.multidevices.title}')