//- SAMPLES :: app showcases
#tabs.container.scrollspy
    .row
        .plans-head.center-align
            h4.headTitles #{home.samples.business}
    .section
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s3.m3.l3
                        a.active(href='#host', title='#{home.samples.restaurants}')
                            i.icon.icon-food
                            span #{home.samples.restaurants}
                    li.tab.col.s3.m3.l3
                        a(href='#tiendas', title='#{home.samples.shops}')
                            i.icon.icon-ecommerce
                            span #{home.samples.shops}
                    li.tab.col.s3.m3.l3
                        a(href='#servprof', title='#{home.samples.serv}')
                            i.icon.icon-laptop
                            span !{home.samples.serv}
                    li.tab.col.s3.m3.l3
                        a(href='#personal', title='#{home.samples.personal}')
                            i.icon.icon-brush
                            span #{home.samples.personal}
            #host.col.s12
                .row.padTop50
                    .col.s12.l4.mobileImg(data-aos='fade-left')
                        img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-hostelry.png', alt='#{home.samples.alt_tag.img_iphone}', title='#{home.samples.alt_tag.img_iphone}')
                    .col.s12.l7.margTop50.mobileText(data-aos='fade-right')
                        h5 !{home.samples.rest.rest_intro}
                        ul.tabs-content-list(type='circle')
                            li
                                a(href='', title='#{home.samples.rest.details1}')
                                    i.icon.icon-ok
                                    | !{home.samples.rest.details1}
                            li
                                a(href='', title='#{home.samples.rest.details2}')
                                    i.icon.icon-ok
                                    | !{home.samples.rest.details2}
                            li
                                a(href='', title='#{home.samples.rest.details3}')
                                    i.icon.icon-ok
                                    | !{home.samples.rest.details3}
                            li
                                a(href='', title='#{home.samples.rest.details4}')
                                    i.icon.icon-ok
                                    | !{home.samples.rest.details4}
                        a.waves-effect.waves-light.btn-large.btn-upp(href='#free-trial', title='#{home.samples.free_app}')
                            i.icon.icon-rocket.left
                            span #{home.samples.free_app}
            #tiendas.col.s12
                .row.padTop50
                    .col.s12.l4.mobileImg
                        img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-shop.png', alt='#{home.samples.alt_tag.img_nexus}', title='#{home.samples.alt_tag.img_nexus}')
                    .col.s12.l7.margTop50.mobileText
                        h5 !{home.samples.shop.shop_intro}
                            | .
                        ul.tabs-content-list(type='circle')
                            li
                                a(href='#!', title='#{home.samples.shop.shop_details1}')
                                    i.icon.icon-ok
                                    | !{home.samples.shop.shop_details1}
                            li
                                a(href='#!', title='#{home.samples.shop.shop_details2}')
                                    i.icon.icon-ok
                                    | !{home.samples.shop.shop_details2}
                            li
                                a(href='#!', title='#{home.samples.shop.shop_details3}')
                                    i.icon.icon-ok
                                    | !{home.samples.shop.shop_details3}
                            li
                                a(href='#!', title='#{home.samples.shop.shop_details4}')
                                    i.icon.icon-ok
                                    | !{home.samples.shop.shop_details4}
                        a.waves-effect.waves-light.btn-large.btn-upp(href='#free-trial', title='#{home.samples.free_app}')
                            i.icon.icon-rocket.left
                            span #{home.samples.free_app}
            #servprof.col.s12
                .row.padTop50
                    .col.s12.l4.mobileImg
                        img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-porfessional-services.png', alt='#{home.samples.alt_tag.img_galaxy}', title='#{home.samples.alt_tag.img_galaxy}')
                    .col.s12.l7.margTop50.mobileText
                        h5 !{home.samples.services.serv_intro}
                        ul.tabs-content-list(type='circle')
                            li
                                a(href='#!', title='#{home.samples.services.serv_details1}')
                                    i.icon.icon-ok
                                    | !{home.samples.services.serv_details1}
                            li
                                a(href='#!', title='#{home.samples.services.serv_details2}')
                                    i.icon.icon-ok
                                    | !{home.samples.services.serv_details2}
                            li
                                a(href='#!', title='#{home.samples.services.serv_details3}')
                                    i.icon.icon-ok
                                    | !{home.samples.services.serv_details3}
                            li
                                a(href='#!', title='#{home.samples.services.serv_details4}')
                                    i.icon.icon-ok
                                    | !{home.samples.services.serv_details4}
                        a.waves-effect.waves-light.btn-large.btn-upp(href='#free-trial', title='#{home.samples.free_app}')
                            i.icon.icon-rocket.left
                            span #{home.samples.free_app}
            #personal.col.s12
                .row.padTop50
                    .col.s12.l4.mobileImg
                        img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-customize.png', alt='#{home.samples.alt_tag.img_xperia}', title='#{home.samples.alt_tag.img_xperia}')
                    .col.s12.l7.margTop50.mobileText
                        h5 !{home.samples.custom.cust_intro}
                        ul.tabs-content-list(type='circle')
                            li
                                a(href='#!', title='#{home.samples.custom.cust_details1}')
                                    i.icon.icon-ok
                                    | !{home.samples.custom.cust_details1}
                            li
                                a(href='#!', title='#{home.samples.custom.cust_details2}')
                                    i.icon.icon-ok
                                    | !{home.samples.custom.cust_details2}
                            li
                                a(href='#!', title='#{home.samples.custom.cust_details3}')
                                    i.icon.icon-ok
                                    | !{home.samples.custom.cust_details3}
                            li
                                a(href='#!', title='#{home.samples.custom.cust_details4}')
                                    i.icon.icon-ok
                                    | !{home.samples.custom.cust_details4}
                        a.waves-effect.waves-light.btn-large.btn-upp(href='#free-trial', title='#{home.samples.free_app}')
                            i.icon.icon-rocket.left
                            span #{home.samples.free_app}