// -CLIENTS :: new testimonial area
#about.about
    .col.s12.center-align.team-header
        h4.headTitles !{home.testimonials.title}
    .about-grids.row
        .col.m4.about-grid.about-grid1(data-aos='fade-down')
            .about-grid-info
                h4 !{home.testimonials.client1.name}
                p #{home.testimonials.client1.quote}
                p.grid-link
                    a(href="#{successful_showcase.samples.sample1_url}", alt='#{successful_showcase.samples.sample1}', title="#{successful_showcase.samples.sample1}") #{successful_showcase.samples.sample1}
                        i.icon.icon-left
            .about-grid-pic
                .video-container
                    .youtube-player(data-id='LluyPqRVGC4')
        .col.m4.about-grid.about-grid2(data-aos='fade-up')
            .about-grid-pic
                .video-container
                    .youtube-player(data-id='pbWm6NaZfbY')
            .about-grid-info
                h4 !{home.testimonials.client2.name}
                p #{home.testimonials.client2.quote}
                p.grid-link
                    a(href="#{successful_showcase.samples.sample2_url}", alt='#{successful_showcase.samples.sample2}', title="#{successful_showcase.samples.sample2}") #{successful_showcase.samples.sample2}
                        i.icon.icon-left
        .col.m4.about-grid.about-grid1(data-aos='fade-down')
            .about-grid-info
                h4 !{home.testimonials.client3.name}
                p #{home.testimonials.client3.quote}
                p.grid-link
                    a(href="#{successful_showcase.samples.sample3_url}", target="_blank", alt='#{successful_showcase.samples.sample3}', title="#{successful_showcase.samples.sample3}") #{successful_showcase.samples.sample3}
                        i.icon.icon-left
            .about-grid-pic
                .video-container
                    .youtube-player(data-id='NyRm-ttbKeM')
        .clearfix