//- 15 DAYS TRIAL BUTTOM
.trial-block
    .container
        .trial-block-grids
            .trial-block-left
                h2 #{footer.try_it}
                h3 #{footer.try_it_free}
                span
                    i.icon.icon-asterisk
                    | #{home.permanence}
            .trial-block-right
                a.modal-trigger.price-btn(href='#free-trial', title='#{footer.free_trial}')
                    i.icon.icon-rocket
                    | #{footer.free_trial}
            .clearfix