block vars

doctype html

//if lt IE 7
  <html class="ie ie6 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 7
  <html class="ie ie7 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 8
  <html class="ie ie8 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 9
  <html class="ie ie9 no-js" lang="#{lang}" data-lang="#{lang}">
// [if gt IE 9] <!
html.no-js(lang='#{lang}', data-lang="#{lang}")
    // <![endif]
    head

        title #{title}

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='author', content='Upplication Software Technologies, S.L.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='msapplication-TileImage', content='#{localConfig.base_path}/images/favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='google-site-verification', content='#{localConfig.webmaster_token}')

        include ../scripts
        include ../newrelic

        each lang in langs.codes
            if routing[_template][lang.language_country].indexOf("http") != 0
                link(rel="alternate", href="https:#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")
            else
                link(rel="alternate", href="#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")

        if routing[_template][lang].indexOf("http") != 0
            link(rel='canonical', href="https:#{routing[_template][lang]}")
        else
            link(rel='canonical', href="#{routing[_template][lang]}")
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='#{localConfig.base_path}/images/favicon/manifest.json')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/upplication-icons/dist/upplication-icons.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/materialize/dist/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/aos/dist/aos.css')

        block css

    body
        //- Facebook "share" button plugin
        #fb-root
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        //- MAIN HEADER
        #home.header
            #move-top.top-header
                .container
                    .logo
                        a(href='index.html')
                            img(src='#{header.logo.url}', title='#{header.logo.title}')
                    nav.top-nav
                        ul.top-nav-list.hide-ul
                            li.how
                                a.hide-tab(href='#timeline', title='#{header.nav.how}') !{header.nav.how}
                            li.samples
                                a.hide-tab(href='#tabs', title='#{header.nav.apps}') #{header.nav.apps}
                            li.blog
                                a.hide-tab(href='#{external.blog.url}', target='_blank', title='#{external.blog.title}') #{external.blog.anchor}
                            li.more
                                a.lang-link(href='#', data-activates='dropdown-terms')
                                    | !{header.nav.info.info}
                                ul#dropdown-terms.dropdown-content.notshow
                                    li
                                        a.hide-tab.lang-link(href="#{header.nav.info.about_us.url}", title='#{header.nav.info.about_us.title}') #{header.nav.info.about_us.title}
                                    li
                                        a.hide-tab.lang-link(href="#{header.nav.info.company_bio.url}", title='#{header.nav.info.company_bio.title}') #{header.nav.info.company_bio.title}
                                    li
                                        a.hide-tab.lang-link(href="#{header.nav.info.helpcenter.url}", title='#{header.nav.info.helpcenter.title}') #{header.nav.info.helpcenter.title}
                                    li
                                        a.hide-tab.lang-link(href="#{header.nav.info.prices.url}", title='#{header.nav.info.prices.title}') #{header.nav.info.prices.title}
                                    li
                                        a.modal-trigger(href='#hiring', title='#{header.nav.info.hiring}', target='_blank') #{header.nav.info.hiring}
                                    li
                                        a.hide-tab.lang-link(href="#{header.nav.info.terms.url}", title='#{header.nav.info.terms.title}') #{header.nav.info.terms.title}
                            li.languages
                                each language in langs.codes
                                    if lang == language.language_country
                                        a.lang-link(href="#", data-activates='dropdown-lang')
                                            i.icon.icon-globe
                                            | !{language.language_short_code}
                                ul#dropdown-lang.dropdown-content.notshow
                                    each lang in langs.codes
                                        li
                                            a.hide-tab.lang-link(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_name}
                            li.trial.only-show-small-devises.phone-kerning
                                a.modal-trigger(href='#all-contact') #{header.telephone}
                            li.trial.only-show-small-devises
                                a.modal-trigger(href='#free-trial', title='') #{header.free_trial}
                            li.enter-btn
                                a.hide-tab(href="#{external.dashboard.url}")
                                    i.icon.icon-key
                                    | #{header.enter}
                            li.contact-info
                                .contact-info-grids
                                    .contact-info-left
                                        a.chat.modal-trigger(href='#free-trial') #{header.free_trial}
                                    .contact-info-right
                                        a.modal-trigger(href='#all-contact') #{header.telephone}
                                        a.support(href='#{help_center.customer_service.email.link}', title='#{help_center.customer_service.email.alt_tag}') #{help_center.customer_service.email.title}
                        // Three animated bars for drop down main navbar in mobile
                        a#pull(href='')
                            span
                            span
                            span
                            span

        // MODAL :: FREE TRIAL
        #free-trial.modal.modal-upp
            include ../../includes/modal-free
        // MODAL :: CONTACT
        #all-contact.modal.modal-upp
            include ../../includes/modal-contact
        // MODAL :: HIRING
        #hiring.modal.modal-upp
            include ../../includes/modal-hiring

        // CONTENT
        block content

        // CLIENTS, TRIAL, CONTACT and FOOTER
        include ../../includes/footer

        // Cookies alert
        #cookies
            i#cookies-accept.icon.icon-cross
            p !{footer.cookies}

        // vendor js
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/materialize/dist/js/materialize.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/aos/dist/aos.js')
        // endvendor

        script(type="text/javascript", src='#{localConfig.base_path}/scripts/shared.js')
        script(type="text/javascript", src='#{localConfig.base_path}/scripts/main.js')


        // end scripts
        script(type='text/javascript').
            $(document).ready(function () {
                $("#clients-carousel").owlCarousel({
                    autoPlay: 3000, // Set AutoPlay to 3 seconds
                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]
                });

                $('.scrollspy').scrollSpy();

                $('.modal-trigger').leanModal({opacity: .7});

                $(".button-collapse").sideNav();

                $('.materialboxed').materialbox();

                $('.social-share').click(function () {
                    $(".social-nav").toggleClass("social-show");
                });
                $('#cookies-accept').click(function () {
                    $("#habla_window_div").addClass("bottomFix");
                });
                $('.lang-link').click(function () {
                   $("#dropdown-lang").toggleClass("notshow");
                });
                $('.lang-link').dropdown({
                      inDuration: 300,
                      outDuration: 225,
                      constrain_width: false,
                      gutter: 0,
                      belowOrigin: false,
                      alignment: 'left'
                    }
                  );
            });

        // START MOBILE TOP NAVIGATION MENU
        script.
            $(function () {
                var $pull = $('#pull');
                menu = $('.top-nav-list');
                menuHeight = menu.height();
                $pull.on('click', function (e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    var w = $(window).width();
                    if (w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
                $pull.click(function () {
                    $(".hide-ul").removeClass("hide-tabs");
                });
                var windowWidth = $(window).width();
                if(windowWidth < 769){
                    $('.hide-tab').click(function () {
                        $(".hide-ul").addClass("hide-tabs");
                    });
                    $('#pull').click(function () {
                        $("#pull").toggleClass("open");
                    });
                }
            });

        // HEADER ANIMATION when you scrolling down or up
        script.
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 250) {
                    $(".top-header").addClass("thiny-top-header");
                } else {
                    $(".top-header").removeClass("thiny-top-header");
                }
            });

        // AOS animations lib
        script.
            AOS.init({
                once: true,
            });

        block scripts

        include ../scripts-thirdparties
        // end scripts