div
    footer
        ul
            li 
                ul
                    li
                        a(href="#{external.about.url}") #{external.about.anchor}
                    li
                        a(href="#{external.team.url}") #{external.team.anchor}
                    li
                        a(href="#{external.features.url}") #{external.features.anchor}
                    li
                        a(href="#{external.partners.url}") #{external.partners.anchor}
                    li
                        a(href="#{external.jobs.url}") #{external.jobs.anchor}
                    li
                        a(href="#{external.tos.url}") #{external.tos.anchor}
            li 
                ul
                    li
                        a(href="#{external.tutorials.url}") #{external.tutorials.anchor}
                    li
                        a(href="#{external.helpcenter.url}") #{external.helpcenter.anchor}
                    li
                        a(href="#{external.apps.url}") #{external.apps.anchor}
                    li
                        a(href="#{external.create_apps.url}") #{external.create_apps.anchor}
                    li
                        a(href="#{external.breakfasts.url}") #{external.breakfasts.anchor}
                    li
                        a(href="#{external.media_kit.url}") #{external.media_kit.anchor}
            li 
                ul
                    li
                        a(href="#{external.youtube.url}") #{external.youtube.anchor}
                    li
                        a(href="#{external.twitter.url}") #{external.twitter.anchor}
                    li
                        a(href="#{external.linkedin.url}") #{external.linkedin.anchor}
                    li
                        a(href="#{external.facebook.url}") #{external.facebook.anchor}
                    li
                        a(href="#{external.instagram.url}") #{external.instagram.anchor}
                    li
                        a(href="#{external.googleplus.url}") #{external.googleplus.anchor}

        hr.clear
        img.fedr-logo.pull-left(src="#{localConfig.base_path}/images/fedr.png", alt="FEDR")
        p.padding-bottom-2x.acenter.big.sign
            | Upplication 2014 <br>
            | #{footer.signature}
        a(href="https://mixpanel.com/f/partner", class="mixpanel-logo", rel="nofollow", style="float:right")
            img(src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png",alt="Mobile Analytics")


include scripts-thirdparties