header.padding-top
    a.logo.margin-bottom(href='#{localConfig.base_path}')
        img(src="#{localConfig.base_path}/images/upplication.png", alt="Upplication logo")

    a.icon-list
        span Menu
    nav.main-menu.uppercase.unstyled

        ul#sections
            include header-links

        a.btn-signup.green-accent-btn.triggers-signup.bold(href="#", onclick="return false;") #{header.free_trial}
    a.login.unstyled(href="#{$.external.dashboard.url}") #{$.external.dashboard.anchor} 