li.menu_txt
  p.uppercase.white #{header.menu}
li
    a(href='#{$.external.pricing.url}') #{$.external.pricing.anchor}
li
    a(href='#{$.external.apps.url}') #{$.header.nav.apps}
li
    a(href='#{$.external.blog.url}') #{$.external.blog.anchor}
li.change-lang.change-lang-menu
    each lang in langs.codes
        a(href="#{routing[template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
li.login_btn
    a(href='#{$.external.dashboard.url}') #{$.external.dashboard.anchor}