block vars
doctype html
//if lt IE 7
  <html class="ie ie6 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 7
  <html class="ie ie7 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 8
  <html class="ie ie8 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 9
  <html class="ie ie9 no-js" lang="#{lang}" data-lang="#{lang}">
// [if gt IE 9] <!
html.no-js(lang='#{lang}', data-lang="#{lang}")
    // <![endif]
    head
        include ../base/scripts.jade
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='author', content='Upplication Software Technologies, S.L.')
        each lang in langs.codes
            if routing[_template][lang.language_country].indexOf("http") != 0
                link(rel="alternate", href="https:#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")
            else
                link(rel="alternate", href="#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")
        if routing[_template][lang].indexOf("http") != 0
            link(rel='canonical', href="https:#{routing[_template][lang]}")
        else
            link(rel='canonical', href="#{routing[_template][lang]}")
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='#{localConfig.base_path}/images/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='msapplication-TileImage', content='#{localConfig.base_path}/images/favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='google-site-verification', content='#{localConfig.webmaster_token}')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/upplication-icons/dist/upplication-icons.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/materialize/dist/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.css')

        block css
        // build:css(app) /styles/microsites.min.css
        link(rel='stylesheet', href='/styles/css/microsites/microsites.css')
        link(rel='stylesheet', href='/styles/css/base/mediaqueries.css')
        // endbuild

        // build:less(app) /styles/less/test.css
        link(rel='stylesheet', href='/styles/less/base/materialize-reserts.less')
        link(rel='stylesheet', href='/styles/less/base/common.less')
        link(rel='stylesheet', href='/styles/less/base/sliders.less')
        link(rel='stylesheet', href='/styles/less/base/modals.less')
        link(rel='stylesheet', href='/styles/less/base/alerts.less')
        link(rel='stylesheet', href='/styles/less/base/register.less')
        link(rel='stylesheet', href='/styles/less/base/header.less')
        link(rel='stylesheet', href='/styles/less/base/footer.less')
        link(rel='stylesheet', href='/styles/less/base/cookies.less')
        // endbuild

        meta(name='viewport', content='width=device-width, initial-scale=1')
        // webfonts
        link(href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic|Roboto+Slab:400,100,700', rel='stylesheet', type='text/css')
    body
        // MAIN HEADER (only logo and contact info)
        #home.header
            #move-top.top-header
                .container
                    .logo
                        a.no-events(href='index.html', title='#{header.logo.title}')
                            img(src='#{header.logo.url}', title='#{header.logo.title}', alt='#{header.logo.title}')
                    .contact-info
                        .contact-info-grids
                            .contact-info-left
                                a.chat.modal-trigger(href='#free-trial', title='#{header.free_trial}') #{header.free_trial}
                            .contact-info-right
                                a.modal-trigger(href='#all-contact', title='#{header.telephone}') #{header.telephone}
                                a.support(href='#{help_center.customer_service.email.link}', title='#{help_center.customer_service.email.alt_tag}') #{help_center.customer_service.email.title}
                            .clearfix
                    .clearfix
        // MODAL :: FREE TRIAL
        #free-trial.modal.modal-upp
            include ../includes/modal-free.jade
        // MODAL :: CONTACT
        #all-contact.modal.modal-upp
            include ../includes/modal-contact.jade
        // INTRO (header and slider pic)
        block intro
        // FORM "TRY FREE 15 DAYS" (DESKTOP - LAPTOP)
        .col-xs-12.col-md-5.right.register-form.animated.fadeIn
            .row.register-top
                form(name="register", action="/register", method="post").col.s12.register-form-block
                    input(type="hidden", name="customerType", value="UPPLICATION")
                    p.error.general-error.display-none #{register.error.general}
                    .row.marBot10
                        .input-field.col.s12
                            input#app_name.validate(type='text', name='appName', required)
                            label(for='app_name') #{form.input.name}
                                p.error.display-none.register-appName-error
                        .input-field.col.s12
                            input#email.validate(type='email', name='email', required)
                            label(for='email') #{form.input.email}
                                p.error.display-none.register-email-error
                        .input-field.col.s12
                            input#password.validate(type='password', name='password', required)
                            label(for='password') #{form.input.pass}
                                p.error.display-none.register-password-error
                    .register-form-btn
                        button(type="submit", data-loading="#{register.loading}", data-text="#{register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                            span #{form.call_to_action}
        // FORM "TRY FREE 15 DAYS" (MOBILE - TABLET)
        .col-xs-10.col-xs-offset-1.register-form-mobile.animated.fadeIn
            a.price-btn.btn-green.modal-trigger(href='#free-trial', title='#{header.free_trial}')
                span #{form.call_to_action}
        // FEATURES (Intro Tips)
        block features
        // FOOTER (Copyright)
        .footer-copyright
            .container
                span
                    i.fa.fa-copyright
                    | #{footer.brand_copy}
                i.icon.icon-dot
                em #{footer.signature}
                i.icon.icon-dot.terms-micro-hidden
                em.terms-micro-hidden #{footer.terms_microsites.warning}
                a.terms-micro-hidden(href='#{footer.terms_microsites.url}', title='#{footer.terms_microsites.title}', target='_blank') #{footer.terms_microsites.text}
        #cookies
            i#cookies-accept.fa.fa-times.close
            p !{footer.cookies}
        // vendor js
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/materialize/dist/js/materialize.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js')
        // endvendor
        // build:js(app) /scripts/app.v2.min.js
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/scroll.js')
        script(type="text/javascript", src='/scripts/v2/cookies.js')
        script(type="text/javascript", src='/scripts/v2/register.js')
        script(type="text/javascript", src='/scripts/v2/lang.js')
        // endbuild
        // smooth scrolling
        script(type='text/javascript').
            $(document).ready(function () {
                $("#clientsCarousel").owlCarousel({
                    autoPlay: 3000, // Set AutoPlay to 3 seconds
                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]
                });
                $('.scrollspy').scrollSpy();
                //
                $('.modal-trigger').leanModal({
                    opacity: .7
                });
                $(".button-collapse").sideNav();
                $('.social-share').click(function () {
                    $(".social-nav").toggleClass("social-show");
                });
                $('#cookies-accept').click(function () {
                    $("#habla_window_div").addClass("bottomFix");
                });
                $('.lang-link').click(function () {
                    $("#dropdown-lang").toggleClass("notshow");
                });
                $('.lang-link').dropdown({
                            inDuration: 300,
                            outDuration: 225,
                            constrain_width: false,
                            gutter: 0,
                            belowOrigin: false,
                            alignment: 'left'
                        }
                );
            });
        // START MOBILE TOP NAVIGATION MENU
        script.
            $(function () {
                var $pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();
                $pull.on('click', function (e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    var w = $(window).width();
                    if (w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
                $pull.click(function () {
                    $(".hide-ul").removeClass("hide-tabs");
                });
                var windowWidth = $(window).width();
                if (windowWidth < 769) {
                    $('.hide-tab').click(function () {
                        $(".hide-ul").addClass("hide-tabs");
                    });
                    $('#pull').click(function () {
                        $("#pull").toggleClass("open");
                    });
                }
            });
        // CUSTOM JS
        script.
            $(document).ready(function () {
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
                // end script
            });
        // end scripts
        block scripts
        include ../base/scripts-thirdparties.jade