header.aplicateca-header
    a.logo
        img(src="#{localConfig.base_path}/images/aplicateca/logo_tlf.svg", alt="#{header.logo.title}", title="#{header.logo.title}")

    a.icon-list
        span Menu
    nav.main-menu.uppercase.unstyled

        ul#sections
            include header-links

    a.login.unstyled(href="#{aplicateca.pricing_aplicateca.url}", title="#{aplicateca.pricing_aplicateca.anchor}") #{aplicateca.pricing_aplicateca.anchor}