li
    a(href='#{aplicateca.pricing_aplicateca.url}', title="#{aplicateca.pricing_aplicateca.anchor}") #{aplicateca.pricing_aplicateca.anchor}
li
    a(href='#{aplicateca.terms_aplicateca.url}', title="#{aplicateca.terms_aplicateca.anchor}") #{aplicateca.terms_aplicateca.anchor}

each lang in langs.codes
    li.change-lang.change-lang-menu
        a.lang-link(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}

li.login_btn
    a(href='#{external.aplicateca.url}', title='#{external.aplicateca.title}') #{external.aplicateca.anchor}