header.padding-top
    a.logo.margin-bottom
        img(src="#{header.logo.url}", alt="#{header.logo.title}", title="#{header.logo.title}")

    a.icon-list
        span Menu
    nav.main-menu.uppercase.unstyled

        ul#sections
            include header-links

    a.login.unstyled(href="#{$.aplicateca.pricing_aplicateca.url}", title="#{aplicateca.pricing_aplicateca.anchor}") #{$.aplicateca.pricing_aplicateca.anchor}