            extends ./terminos.jade
            block header-terms
                #home.header
                    #move-top.top-header
                        .container
                            .logo
                                a(href='index.html')
                                    img(src='#{localConfig.base_path}/images/home/icons/upplication.png', title='Upplication logo')
                            nav.top-nav
                                ul.top-nav.hide-ul
                                    li
                                        each language in langs.codes
                                            if lang == language.language_country
                                                a.lang-link(href="#", data-activates='dropdown-lang')
                                                    i.fa.fa-globe
                                                    | !{language.language_short_code}
                                        ul#dropdown-lang.dropdown-content
                                            each lang in langs.codes
                                                a.hide-tab.lang-link(href="#{routing[template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_name}
                                    li
                                        a.hide-tab(href='#about', title='') #{header.nav.how}
                                    li
                                        a.hide-tab(href='#tabs', title='') #{header.nav.apps}
                                    li
                                        a.hide-tab(href='#pricing', title='') #{header.nav.prices}
                                    li
                                        a.hide-tab(href='http://www.upplication.com/blog/', target='_blank', title='') #{external.blog.anchor}
                                    li.only-show-small-devises.phone-kerning
                                        a #{header.telephone}
                                    li.only-show-small-devises
                                        a.modal-trigger(href='#pruebaGratis', title='') #{header.free_trial}
                                    li.enter-bold
                                        a.hide-tab(href="#{$.external.dashboard.url}")
                                            i.fa.fa-lock
                                            | #{header.enter}
                                a#pull(href='')
                                    img(src='#{localConfig.base_path}/images/home/icons/nav-icon.png', title='menu')
                            .contact-info
                                .contact-info-grids
                                    .contact-info-left
                                        a.chat.modal-trigger(href='#pruebaGratis') #{header.free_trial}
                                    .contact-info-right
                                        a #{header.telephone}
                                        a.support(href='#{helpcenter.customer_service.email.link}', title='#{helpcenter.customer_service.email.alt_tag}') #{helpcenter.customer_service.email.title}
                                    .clearfix
                            .clearfix