div#signup-screen.closed
    div.signup-screen-container.padding-top-4x.padding-bottom-4x
        a#signup-close.btn-signup-close(href="#", title='#{modal.head.close}') !{signup.close}

        div.signup-header
            img.inline-block(src="#{localConfig.base_path}/images/upplication.png", alt="#{header.logo.title}", title="#{header.logo.title}")

            p.big.right.inline-block.padding-top-2x !{signup.signup_free}

        form#signup-form.acenter(name="signup")
            input(type="hidden", name="customerType", value="UPPLICATION")
            div.field.clearfix
                input(type="text", name="appName", placeholder="#{register.app_name}", required="required", minlength="3", maxlength="32", pattern="^[a-zA-Z]{1}[a-zA-Z0-9 ]{2,}", title="#{register.warning.name}")
                p.error.display-none(data-for="appName")
                    //| El nombre de la app ya está registrado
            div.field.clearfix
                input(type="email", name="email", placeholder="#{register.email}", required="required")
                p.error.display-none(data-for="email")
                    //| El usuario ya está registrado
            div.field.clearfix
                input(type="password", name="password", placeholder="#{register.password}", required="required", title="#{register.warning.password}", pattern=".{8,}")
                p.error.display-none(data-for="password")
                    //| La contraseña debe contener al menos 6 caracteres
            div#app-seller.field.clearfix.closed
                input#seller-input(type="seller", name="seller", placeholder="#{signup.seller_code}", title="#{signup.warning_seller}")
                p.error.display-none(data-for="seller")
                    //| Seller code
            div.field.clearfix
                input.green-accent-btn.btn.bold.big(type="submit", value="#{register.call_to_action}", data-loading="#{register.loading}", data-text="#{register.call_to_action}")
                p.tos.acenter !{register.accept_terms}
                    a.cwhite(href="#{external.tos.url}", title="#{external.tos.anchor}") #{register.terms}

            a#seller-code.seller-code.accent-green.right(href="#", title="#{signup.have_a_code}") #{signup.have_a_code}
            a#without-seller-code.seller-code.accent-green.acenter.padding-top-4x.display-none(href="#", title="#{signup.dont_have_a_code}") #{signup.dont_have_a_code}


