extend base/v2/base

block vars
    - var title = about_us._meta_title
    - var description = about_us._meta_description
    - var keywords = about_us._keywords
    - var cssClass = 'about'

block css
    link(rel='stylesheet', href='#{localConfig.base_path}/styles/about/about.css')

block content
    //- MEET OUR TEAM
    .col.s12.center-align.team-header.padBot50.border-bottom
        h4.headTitles.center-align !{about_us.team.title}
        #team.about
            .container
                .row.bosses-area
                    // - row (1)
                    //- JOSÉ LUIS
                    .col.s12.m6.center-align(data-aos='zoom-in')
                        a.team-rrss.team-linkedin.animate-hover(href='#{about_us.team.ceo.linkedin}', title='#{about_us.team.ceo.linkedin}', target='_blank')
                            i.icon.icon-linkedin
                        a.team-rrss.team-twitter.animate-hover(href='#{about_us.team.ceo.twitter}', title='#{about_us.team.ceo.twitter}', target='_blank')
                            i.icon.icon-twitter
                        a.team-job.team-boss.animate-hover.tooltipped(data-position='top', data-delay='50', data-tooltip='#{about_us.team.ceo.sentence}')
                            i.icon.icon-crown
                        .upp-boss-img.team-jose.circle.animate-hover
                            img.hidden(src='#{localConfig.base_path}/images/about/jose_ceo_2.jpg', title='#{about_us.team.ceo.position}', alt='#{about_us.team.ceo.position}')
                        h5
                            strong #{about_us.team.ceo.name}
                            | #{about_us.team.ceo.surname}
                        p.team-work #{about_us.team.ceo.position}
                    //- VÍCTOR
                    .col.s12.m6.center-align(data-aos='zoom-in')
                        a.team-rrss.team-linkedin.animate-hover(href='#{about_us.team.cmo.linkedin}', title='#{about_us.team.cmo.linkedin}', target='_blank')
                            i.icon.icon-linkedin
                        a.team-rrss.team-twitter.animate-hover(href='#{about_us.team.cmo.twitter}', title='#{about_us.team.cmo.twitter}', target='_blank')
                            i.icon.icon-twitter
                        a.team-job.team-boss.animate-hover.tooltipped(data-position='top', data-delay='50', data-tooltip='#{about_us.team.cmo.sentence}')
                            i.icon.icon-crown
                        .upp-boss-img.team-victor.circle.animate-hover
                            img.hidden(src='#{localConfig.base_path}/images/about/victor_cmo_2.jpg', title='#{about_us.team.cmo.position}', alt='#{about_us.team.cmo.position}')
                        h5
                            strong #{about_us.team.cmo.name}
                            | #{about_us.team.cmo.surname}
                        p.team-work #{about_us.team.cmo.position}
                .row.crew-area
                    // - row (2)
                    //- ARNÁIZ
                    .col.s12.m6.center-align(data-aos='zoom-in-right')
                        a.team-rrss.team-linkedin.animate-hover(href='#{about_us.team.cto.linkedin}', title='#{about_us.team.cto.linkedin}', target='_blank')
                            i.icon.icon-linkedin
                        a.team-rrss.team-twitter.animate-hover(href='#{about_us.team.cto.twitter}', title='#{about_us.team.cto.twitter}', target='_blank')
                            i.icon.icon-twitter
                        a.team-job.team-dev.animate-hover.tooltipped(data-position='top', data-delay='50', data-tooltip='#{about_us.team.cto.sentence}')
                            i.icon.icon-code
                        .upp-team-img.team-arnaiz.circle.animate-hover
                            img.hidden(src='#{localConfig.base_path}/images/about/javi_cto_2.jpg', title='#{about_us.team.cto.position}', alt='#{about_us.team.cto.position}')
                        h5
                            strong #{about_us.team.cto.name}
                            | #{about_us.team.cto.surname}
                        p.team-work #{about_us.team.cto.position}
                    //- BELÉN
                    .col.s12.m6.center-align(data-aos='zoom-in')
                        a.team-rrss.team-linkedin.animate-hover(href='#{about_us.team.support.support_1.linkedin}', title='#{about_us.team.support.support_1.linkedin}', target='_blank')
                            i.icon.icon-linkedin
                        a.team-rrss.team-twitter.animate-hover(href='#{about_us.team.support.support_1.twitter}', title='#{about_us.team.support.support_1.twitter}', target='_blank')
                            i.icon.icon-twitter
                        a.team-job.team-support.animate-hover.tooltipped(data-position='top', data-delay='50', data-tooltip='#{about_us.team.support.support_1.sentence}')
                            i.icon.icon-phone
                        .upp-team-img.team-belen.circle.animate-hover
                            img.hidden(src='#{localConfig.base_path}/images/about/belen_support_2.jpg', title='#{about_us.team.support.support_1.position}', alt='#{about_us.team.support.support_1.position}')
                        h5
                            strong #{about_us.team.support.support_1.name}
                            | #{about_us.team.support.support_1.surname}
                        p.team-work #{about_us.team.support.support_1.position}

    //- DPTOS. INFO & PICS
    #about.about
        .col.s12.center-align.team-header
            h4.headTitles.center-align !{about_us.departments.title}
        .about-grids.row
            .col.m4.about-grid.about-grid1(data-aos='fade-down')
                .about-grid-info
                    h4 #{about_us.departments.support.title}
                    p !{about_us.departments.support.text}
                .about-grid-pic
                    img(src='#{localConfig.base_path}/images/about/upp_team_support.jpg', title='#{about_us.departments.support.img}', alt='#{about_us.departments.support.img}')
            .col.m4.about-grid.about-grid2(data-aos='fade-down')
                .about-grid-pic
                    img(src='#{localConfig.base_path}/images/about/upp_team_sales.jpg', title='#{about_us.departments.marketing.img}', alt='#{about_us.departments.marketing.img}')
                .about-grid-info
                    h4 #{about_us.departments.marketing.title}
                    p !{about_us.departments.marketing.text}
            .col.m4.about-grid.about-grid1(data-aos='fade-down')
                .about-grid-info
                    h4 #{about_us.departments.develop.title}
                    p !{about_us.departments.develop.text}
                .about-grid-pic
                    img(src='#{localConfig.base_path}/images/about/upp_team_dev.jpg', title='#{about_us.departments.develop.img}', alt='#{about_us.departments.develop.img}')
            .clearfix