extends base

block vars
    - var template = $.available_offer._template
    - var title = $.available_offer._meta_title
    - var description = $.available_offer._meta_description
    - var keywords = $.available_offer._keywords
    - var canonical = $.available_offer._canonical
    - var cssClass = 'prices'

block content
    section#available-offer.bottom-space.darky
        div.container
            h2 #{available_offer.title}
            p #{available_offer.description}
            a(href="#{external.hiring_frontend.url}") #{external.hiring_frontend.anchor}
            a(href="#{external.hiring_backend.url}") #{external.hiring_backend.anchor}
            a(href="#{external.hiring_developer.url}") #{external.hiring_developer.anchor}
            a(href="#{external.hiring_marketing.url}") #{external.hiring_marketing.anchor}
