doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]
    block vars
    head
        include scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title #{title}

        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")

        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='http://upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='/images/upplication_rrss.png')

        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="/images/upplication_rrss.png")

        link(rel="canonical", href="#{canonical}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")

        // build:css({.tmp, app}) /styles/main.css
        link(rel='stylesheet', href='/styles/main.css')
        link(rel="shortcut icon", href="http://upplication.es/favicon.ico")
        link(rel="profile", href="http://gmpg.org/xfn/11")
        // endbuild
        link(rel='stylesheet', href='@@BASE_PATH/fonts/style.css')
        link(rel='stylesheet', href='@@BASE_PATH/bower_components/magnific-popup/dist/magnific-popup.css')

        // Place favicon.ico and apple-touch-icon.png in the root directory


    body(id="#{template}", data-lang="#{lang}")
        //data = langs = #{data}! = #{langs}!

        nav.nav-basement
            ul.nav-basement-options.unstyled.margin-top.change-lang
                include header-links

        .outer-wrap

            #main-container.slide-pannel.effects
                .header-container
                    include header

                #content(class="#{$.home._template}")
                    block content

                #dark-layout


                .footer-container
                    #cookies
                        p !{footer.cookies}
                            span.close(onclick="closeCookies()") X

                    include footer


        //-script(src='/bower_components/zeptojs/src/touch.js')
        script(type="text/javascript", src='@@BASE_PATH/bower_components/zepto/zepto.min.js')
        // build:js({.tmp,app}) /scripts/app.js
        // bower:js
        script(type="text/javascript", src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
        // endbower
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/app.js')
        script(type="text/javascript", src='/scripts/tracking.js')
        // endbuild
