extends base/v2/base
block vars
    - var title = $.blog_is_out._meta_title
    - var description = $.blog_is_out._meta_description
    - var keywords = $.blog_is_out._keywords
    - var cssClass = 'blog_is_out'
block css
    // build:css({.tmp, app}) /styles/500.min.css
    link(rel='stylesheet', href='/styles/css/404/404.css')
    link(rel='stylesheet', href='/styles/css/blog/blog.css')
    // endbuild
block content
    // 500 ERROR
    .page-not-found-bg
        img.responsive-img(src='#{localConfig.base_path}/images/error/blog-is-out.jpg', title='#{blog_is_out.subtitle3}', alt='#{blog_is_out.subtitle3}')
    .container
        .col.s12.center-align.page-not-found-header.padBot50
            h4(data-text='Blog...') #{blog_is_out.title}
            p #{blog_is_out.subtitle1}
                span &nbsp#{blog_is_out.subtitle2}
        .row.not-found-suggestions
            .col.m10.offset-m1.s12
                p.strong500.padTop30.padBot30 #{blog_is_out.pre_advice}
                p.strong500.padTop30.padBot30 !{blog_is_out.suggestion}
block scripts