extends base/v2/base

block vars
    - var title = company._meta_title
    - var description = company._meta_description
    - var keywords = company._keywords
    - var cssClass = 'company'

block css

    // build:less(app) /styles/less/test.css
    link(rel='stylesheet', href='/styles/less/company/company.less')
    // endbuild

block content

    // COMPANY INTRO
    section#intro
        .container.marBot50
            .row
                .plans-head.text-center
                    h4.headTitles !{company.intro.maintitle}
            .row.company-intro
                .col.s12.m8.offset-m2
                    p !{company.intro.description}

    // COMPANY BIO TIMELINE
    section#company.timeline-section.scrollspy
        .container
            .row
                .plans-head.text-center
                    h4.headTitles !{company.timeline.maintitle}
            .row
                .col.l12
                    ul.timeline
                        li.step1
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-01.svg', title='#{company.timeline.step1.pic}', alt='#{company.timeline.step1.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step1.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step1.description}
                        li.timeline-inverted.step2
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-02.svg', title='#{company.timeline.step2.pic}', alt='#{company.timeline.step2.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step2.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step2.description}
                        li.step3
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-03.svg', title='#{company.timeline.step3.pic}', alt='#{company.timeline.step3.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step3.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step3.description}
                        li.timeline-inverted.step4
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-04.svg', title='#{company.timeline.step4.pic}', alt='#{company.timeline.step4.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step4.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step4.description}
                        li.step5
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-05.svg', title='#{company.timeline.step5.pic}', alt='#{company.timeline.step5.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step5.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step5.description}
                        li.timeline-inverted.step6
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-06.svg', title='#{company.timeline.step6.pic}', alt='#{company.timeline.step6.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step6.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step6.description}
                        li.step7
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/company/timeline-07.svg', title='#{company.timeline.step7.pic}', alt='#{company.timeline.step7.pic}')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading #{company.timeline.step7.year}
                                .timeline-body
                                    p.text-muted !{company.timeline.step7.description}
    // WORLD MAP
    .worldmap-section
        .worldmap-bg.marBot50
            .plans-head.text-center.padTop50
                h4.headTitles.noMargBot !{company.worldmap.title}
                p !{company.worldmap.sub_title}
            img.responsive-img.padTop50#image-test(src='#{localConfig.base_path}/images/company/worldmap.jpg', title='#{company.worldmap.worldmap_img}', alt='#{company.worldmap.worldmap_img}')

block scripts

    // CUSTOM JS
    script(type='text/javascript').
        $(document).ready(function () {
            $('ul.tabs').tabs();
            var options = [
                {selector: '#company', offset: 300, callback: 'Materialize.showStaggeredList(".timeline")'},
                {selector: '.worldmap-section', offset: 500, callback: 'Materialize.fadeInImage("#image-test")'},
            ];
            Materialize.scrollFire(options);
            // Animate.css for web elements:
            var $imgMove = $('.imgMove'),
                    $imgFlash = $('.imgFlash');
            $imgMove.mouseenter(function () {
                $(this).addClass("animated");
                $(this).addClass("pulse");
            });
            $imgMove.mouseleave(function () {
                $(this).removeClass("animated");
                $(this).removeClass("pulse");
            });
            $imgFlash.mouseenter(function () {
                $(this).addClass("animated");
                $(this).addClass("rubberBand");
            });
            $imgFlash.mouseleave(function () {
                $(this).removeClass("animated");
                $(this).removeClass("rubberBand");
            });
            // end home
        });
