li.menu_txt
  p.uppercase.pastel-green #{header.menu}
li
    a(href='#{$.external.pricing.url}') #{$.external.pricing.anchor}
li
    a(href='#{$.external.apps.url}') #{$.header.nav.apps}
li
    a(href='#{$.external.blog.url}') #{$.external.blog.anchor}
li.login_btn
    a(href='#{$.external.dashboard.url}') #{$.external.dashboard.anchor}

//- each lang in langs.codes
//-   li(data-lang="#{lang.language_country}", class="lang")
//-    a(href="#{lang.home}") #{lang.language_name}