header.padding-top
    a.logo.margin-bottom(href='@@BASE_PATH')
        img(src="@@BASE_PATH/images/upplication.png", alt="Upplication logo")

    i.icon-list

    nav.main-menu.uppercase.unstyled

        ul#sections
            include header-links

        ul.change-lang
            each lang in langs.codes
                li(data-lang="#{lang.language_country}")
                    a(href="#{lang.home}") #{lang.language_short_code}
    a.login.unstyled(href="#{$.external.dashboard.url}") #{$.external.dashboard.anchor} 