header.padding-top
    a.logo.margin-bottom(href='#{$.home._url}')
        img(src="#{BASE_PATH}/images/upplication.png")

    span.icon-list

    nav.main-menu.uppercase.unstyled

        ul#sections
            include header-links

        ul#change-lang
            each lang in langs.codes
                li(data-lang="#{lang.language_country}")
                    a(href="#{lang.home}") #{lang.language_short_code}
    a.login.unstyled(href="#register") Entrar