extends base/v2/base

block vars
    - var template = $.helpcenter._template
    - var title = $.helpcenter._meta_title
    - var description = $.helpcenter._meta_description
    - var keywords = $.helpcenter._keywords
    - var canonical = $.helpcenter._canonical
    - var cssClass = 'helpcenter'

block css
    // build:css({.tmp, app}) /styles/helpcenter.min.css
    link(rel='stylesheet', href='/styles/css/home/helpcenter.css')
    //endbuild

block content
    // HELP CENTER
    #help-center.container
        h4.animated.fadeIn #{helpcenter._name}
        .row
            .col.s12.m6.help-center-grid
                ul.collection
                    li.collection-item.avatar.animated.fadeInRight
                        i.material-icons.circle.blue perm_identity
                        span.title #{helpcenter.section.upp}
                        a(href='#{helpcenter.uservoice.link}', title='#{helpcenter.uservoice.title}', target='_blank')
                            i.fa.fa-circle
                            | #{helpcenter.uservoice.title}
                        a(href='#{helpcenter.knowledgebase.link}', title='#{helpcenter.knowledgebase.title}', target='_blank')
                            i.fa.fa-circle
                            | #{helpcenter.knowledgebase.title}
                    li.collection-item.avatar.animated.fadeInLeft
                        i.material-icons.circle.red play_arrow
                        span.title #{helpcenter.section.video}
                            a(href='#{helpcenter.video_1.link}', title='#{helpcenter.video_1.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.video_1.title}
                            a(href='#{helpcenter.video_2.link}', title='#{helpcenter.video_2.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.video_2.title}
                    li.collection-item.avatar.animated.fadeInRight
                        i.material-icons.circle.green description
                        span.title #{helpcenter.section.ebooks}
                            a(href='#{helpcenter.sucess.link}', title='#{helpcenter.sucess.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.sucess.title}
                            a(href='#{helpcenter.advantages.link}', title='#{helpcenter.advantages.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.advantages.title}
                    li.collection-item.avatar.animated.fadeInLeft
                        i.material-icons.circle.purple settings
                        span.title #{helpcenter.section.help}
                            a(href='#{helpcenter.wedoit.link}', title='#{helpcenter.wedoit.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.wedoit.title}
                            a(href='#{helpcenter.workshop.link}', title='#{helpcenter.workshop.title}', target='_blank')
                                i.fa.fa-circle
                                | #{helpcenter.workshop.title}
        .clearfix


