extends base

block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var canonical = $.home._canonical
    - var cssClass = 'home'

block content
    script(type='text/javascript').
        $UPP.url = "#{$.home._url}";

    section#register
        div
            .mobile
                img(src="#{localConfig.base_path}/images/la-florette-mobile.png", alt="App m칩vil")
            .claim.padding-top-2x.margin-bottom-2x.width-90.center
                h1.uppercase.cwhite.acenter.bold #{home.register.claim}
                p.big.acenter #{home.register.arguments}
            .video-container.acenter.margin-bottom-3x
                a#youtube-video.unstyled.icon-play.mfp-iframe(href="http://www.youtube.com/watch?v=_9Xknb3xz7o")
            article
                form(name="register", action="/register", method="post")
                    input(type="hidden", name="customerType", value="UPPLICATION")
                    div.announce.bg-cblack.acenter.btn.arrow-down-black
                        | #{$.home.register.announce}
                    label(for="appName")
                        input(type="text", name="appName", placeholder="#{home.register.app_name}", required="required", minlength="3", maxlength="32", pattern="^[a-zA-Z]{1}[a-zA-Z0-9 ]{2,}", title="#{home.register.warning.name}")
                        p.error.display-none
                            //| El nombre de la app ya est치 registrado
                    label(for="email")
                        input(type="email", name="email", placeholder="#{home.register.email}", required="required")
                        p.error.display-none
                            //| El email ya est치 registrado
                    label(for="password")
                        input(type="password", name="password", placeholder="#{home.register.password}", required="required", title="#{home.register.warning.password}", pattern=".{8,}")
                        p.error.display-none
                            //| La contrase침a debe contener al menos 6 caracteres
                    input.green-accent-btn.big.btn.margin-bottom.uppercase.bold(type="submit", value="#{home.register.call_to_action}", data-loading="#{home.register.loading}", data-text="#{home.register.call_to_action}")
                    p.tos.acenter.italic !{home.register.accept_terms}
                        a(href="#{external.tos.url}") #{home.register.terms}

    section#multidevice.bg-alabaster.padding.clearfix
        .margin-bottom-2x.margin-top-2x

            .width-55.left
                h1.acenter #{home.multidevice.title}
                p.acenter.center
                    | #{home.multidevice.text}

            #devices.margin-top-3x.margin-bottom-3x.acenter.width-45
                img.screenshot-devices(src='#{localConfig.base_path}/images/apps-para-todos-los-dispositivos.png', alt="#{home.multidevice.devices_alt}")

            ul.so-available
                li
                    a.icon-html5(title="#{home.multidevice.html5_alt}")
                li
                    a.icon-apple(title="#{home.multidevice.ios_alt}")
                li
                    a.icon-android(title="#{home.multidevice.android_alt}")

    section#showcase.min-bottom-space.min-top-space.padding.clearfix
        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x #{home.showcase.title}
        div.container
            button.slider-btn.prev-btn.home-slider
                span(class="icon-arrow-left")
            button.slider-btn.next-btn.home-slider
                span(class="icon-arrow-right")

            div#showcase-items.clearfix
                each category, i in showcase.categories
                    div(class=i === 0 ? "showcase-item clearfix" : "showcase-item clearfix hidden", data-category="#{category.name}")
                        div.info-container
                            h2 #{category.title}
                            p #{category.description}

                            ul.features
                                each feature in category.features
                                    li
                                        span.plus-icon +
                                        span #{feature}

                            ul.operating-systems
                                li
                                    a(href="#{category.url}", target="_blank")
                                        span.icon-html5
                                li
                                    a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                        span.icon-ios
                                li
                                    a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                        span.icon-android

                        div.phone-container.small
                            img(src="/images/sample_apps/#{category.name}.png", alt="#{category.title}")

    section.bg-alabaster.padding.clearfix.padding-top-3x.padding-bottom-2x.press
        ul.acenter.margin-top-2x
            li
                a(href="#{home.press.abc}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/abc.png", alt="ABC")
            li
                a(href="#{home.press.el_economista}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/elEconomista.png", alt="elEconomista")
            li
                a(href="#{home.press.agencia_efe}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/emprende.png", alt="EFE Emprende")
            li
                a(href="#{home.press.forbes}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/forbes.png", alt="Forbes")
            li
                a(href="#{home.press.telefonica}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/telefonica.png", alt="Think Big Telefonica")
            li
                a(href="#{home.press.ticbeat}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/ticbeat.png", alt="Ticbeat")
            li
                a(href="#{home.press.wwwhatsnew}", rel="nofollow")
                    img(src="#{localConfig.base_path}/images/press/wwwhatsnew.png", alt="wwwhatsnew")

    section.padding.clearfix
        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x #{home.testimonials.title}
        ul.testimonials
            li
                blockquote.clearfix
                    img(src="#{localConfig.base_path}/images/ana.jpeg", alt="Ana, C'UP Your choice on top")
                    p #{home.testimonials.client1.cite}
                    footer
                        cite - #{home.testimonials.client1.name}

            li
                blockquote.clearfix
                    img(src="#{localConfig.base_path}/images/david.jpeg", alt="David, Bar Trapatapa")
                    p #{home.testimonials.client2.cite}
                    footer
                        cite - #{home.testimonials.client2.name}

            li
                blockquote.clearfix
                    img(src="#{localConfig.base_path}/images/gabriel.jpeg", alt="Gabriel, Moto Urban")
                    p #{home.testimonials.client3.cite}
                    footer
                        cite - #{home.testimonials.client3.name}

    script(type='text/javascript', src='http://www.youtube.com/player_api')