extends base

block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description

block content
    section#register
        div
            .mobile
                img(src="#{BASE_PATH}/images/la-florette-mobile.png")
            .claim.padding-top-2x.margin-bottom-2x.text-shadow.width-90.center 
                h1.uppercase.cwhite Tu negocio, tu app.
                p.big Crea la app de tu negocio, sin programar, y de manera fácil y sencilla
            .video-container.acenter.margin-bottom-3x
                a.unstyled.open-popup-link.icon-play.mfp-iframe(href="http://www.youtube.com/watch?v=_9Xknb3xz7o")
            article
                //div#test-free.bg-cblack.acenter.btn.arrow-down-black
                //    | #{$.home.test_free}!

                form(name="register", action="/register", method="post")
                    input(type="text", name="name", placeholder="Nombre de la app")
                    input(type="text", name="email", placeholder="Email")
                    input(type="password", name="pass", placeholder="Contraseña")
                    input.bg-pastel-green.big.btn.margin-bottom-2x(type="submit", value="Regístrate gratis")
    section.bg-alabaster.padding.clearfix
        .margin-bottom-2x.margin-top-2x.multidevice

            h1.acenter App y web multidispositivo
            p.acenter.center
                | Cuando te creas una app a la vez tienes una web multidisposisitvo que se ve en ordenadores, tables y smartphones

            .margin-top-3x.margin-bottom-3x.acenter
                img.screenshot-devices(src='#{BASE_PATH}/images/apps-para-todos-los-dispositivos.png', alt="Apps para todos los dispositivos")


            ul.so-available
                li
                    a.icon-html5(title="Crea tu app en HTML5")
                li
                    a.icon-android(title="Crea tu app en Android")
                li
                    a.icon-apple(title="Crea tu app en iOS")

    section.bg-white
        h1.bigger.acenter.margin-top-2x.width-90.center.margin-bottom-2x Descubre nuestras aplicaciones y todo lo que puedes hacer
        ul.apps-list
            li
                .image(style="background-image:url('#{BASE_PATH}/images/app 1.png')")
                .padding-2x
                    h1 La Florette
                    p
                        | La Florette es una aplicación a través de la cual se venden flores y macetas. Ha usado el template <a href="">Milion</a>... >>
            li.clearfix
                .image(style="background-image:url('#{BASE_PATH}/images/app 2.png')")
                .padding-2x
                    h1 Cooking Love
                    p
                        | Cooking Love es una aplicación a través de la cual se venden flores y macetas. Ha usado el template <a href="">Milion</a>... >>
            li.clearfix
                .image(style="background-image:url('#{BASE_PATH}/images/app 3.png')")
                .padding-2x
                    h1 La Bicicleta
                    p
                        | La Bicicleta es una aplicación a través de la cual se venden flores y macetas. Ha usado el template <a href="">Milion</a>... >>

    section.bg-alabaster.padding.clearfix
        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x.big Que dicen de nosotros
        ul.testimonials
            li
                blockquote
                    img(src="https://pbs.twimg.com/profile_images/378800000613334751/94f948347b9ec15471b0828827ff27e9.jpeg")
                    p Diseña tu app para iPhone, Android, publicarla, seguir los resultados y con un precio increíble, todo lo tienes de manera rápida y sencilla
                    footer 
                        cite - Carolina Guirado, Sage One

            li
                blockquote
                    img(src="https://pbs.twimg.com/profile_images/378800000408560435/b67cbef9b282aef0337a38706a25d928_bigger.jpeg")
                    p Diseña tu app para iPhone, Android, publicarla, seguir los resultados y con un precio increíble, todo lo tienes de manera rápida y sencilla
                    footer 
                        cite - Carolina Guirado, Sage One

            li
                blockquote
                    img(src="https://pbs.twimg.com/profile_images/378800000645794108/3a39a59e4ddfd372f23b28eeae9b28cb_bigger.jpeg")
                    p Diseña tu app para iPhone, Android, publicarla, seguir los resultados y con un precio increíble, todo lo tienes de manera rápida y sencilla
                    footer 
                        cite - Carolina Guirado, Sage One


    section.bg-pastel-green.padding.clearfix.padding-top-2x
        h1.width-80.big.center.acenter.mine-shaft.margin-bottom-2x Regístrate y empieza a crear tu aplicación gratis
        form.width-80.center(name="register", action="/register", method="post")
            input(type="text", name="name", placeholder="Nombre de la app")
            input(type="text", name="email", placeholder="Email")
            input(type="password", name="pass", placeholder="Contraseña")
            input.bg-mine-shaft.big.btn.margin-bottom-2x.white.big(type="submit", value="Probar gratis")


        #test-popup.cwhite.popup.mfp-hide
            | Popup content