block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var canonical = $.home._canonical
    - var cssClass = 'home'

doctype html

//if lt IE 7
  <html class="ie ie6 no-js" lang="es">
//if IE 7
  <html class="ie ie7 no-js" lang="es">
//if IE 8
  <html class="ie ie8 no-js" lang="es">
//if IE 9
  <html class="ie ie9 no-js" lang="es">
// [if gt IE 9] <!
html.no-js(lang='es')
    // <![endif]
    head
        include base/scripts
        title Upplication : Build your App
        meta(name='description', content='Upplication® Crear app, tu propia app móvil online. Prueba GRATIS durante 15 días, sin necesidad de programación en cuestión de minutos. Tu app para Android e iOS')
        meta(name='keywords', content='crear app, como crear tu app, crear app android, crear app iphone, crear aplicacion, crear app online, crear app movil')
        meta(name='author', content='Upplication')
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='#{localConfig.base_path}/images/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='msapplication-TileImage', content='#{localConfig.base_path}/images/favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')

        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/materialize/dist/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.css')

        // build:css /styles/main.min.css
        link(rel='stylesheet', href='/styles/css/home/materialize-reserts.css')
        link(rel='stylesheet', href='/styles/css/home/style.css')
        link(rel='stylesheet', href='/styles/css/home/upp.css')
        link(rel='stylesheet', href='/styles/css/home/modals.css')
        link(rel='stylesheet', href='/styles/css/home/footer.css')
        link(rel='stylesheet', href='/styles/css/home/cookies.css')
        link(rel='stylesheet', href='/styles/css/home/mediaqueries.css')
        // endbuild

        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(type='application/x-javascript').
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false); function hideURLbar() {
                window.scrollTo(0, 1);
            }
        // webfonts
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic|Roboto+Slab:400,100,700', rel='stylesheet', type='text/css')

    body
        // MAIN HEADER
        #home.header
            #move-top.top-header
                .container
                    .logo
                        a(href='index.html')
                            img(src='#{localConfig.base_path}/images/home/icons/upplication.png', title='Upplication logo')
                    nav.top-nav
                        ul.top-nav
                            li
                                each language in langs.codes
                                    if lang != language.language_country
                                        a.lang-link(href="#{routing[template][language.language_country]}", data-lang="#{language.language_country}")
                                            i.fa.fa-globe
                                            | !{language.language_short_code}
                            li
                                a(href='#about', title='') #{header.nav.how}
                            li
                                a(href='#tabs', title='') #{header.nav.apps}
                            li
                                a(href='#pricing', title='') #{header.nav.prices}
                            li
                                a(href='http://www.upplication.com/blog/', target='_blank', title='') Blog
                            li
                                a(href='#', title='')
                                    i.fa.fa-lock
                                    | #{header.enter}
                        a#pull(href='#')
                            img(src='#{localConfig.base_path}/images/home/icons/nav-icon.png', title='menu')
                    .contact-info
                        .contact-info-grids
                            .contact-info-left
                                a.chat.modal-trigger(href='#pruebaGratis') #{header.free_trial}
                            .contact-info-right
                                a
                                    i.fa.fa-phone
                                    |  810 512 370
                                p #{header.free_call}
                            .clearfix
                    .clearfix
        // MODAL
        #pruebaGratis.modal
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!')
                i.fa.fa-close
            .modal-content
                h2 !{modal.head.register_modal}
                .row
                    form(name="register", action="/register", method="post").col.s12.center
                        input(type="hidden", name="customerType", value="UPPLICATION")
                        p.error.general-error.display-none #{register.error.general}
                        .input-field.col.s12
                            i.material-icons.prefix settings_cell
                            input#modal_app_name.validate(type='text', name='appName')
                            label(for='modal_app_name') #{form.input.name}
                                p.error.display-none
                        .input-field.col.s12
                            i.material-icons.prefix email
                            input#modal_email.validate(type='tel', name='email')
                            label(for='modal_email') #{form.input.email}
                                p.error.display-none
                        .input-field.col.s12
                            i.material-icons.prefix vpn_key
                            input#modal_pass.validate(type='password', name='password')
                            label(for='modal_pass') #{form.input.pass}
                                p.error.display-none
                        .input-field.col.s12
                            button(type="submit", data-loading="#{home.register.loading}", data-text="#{home.register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                                i.material-icons.left play_circle_outline
                                | #{header.free_trial}
            .modal-terms
                ul.hover-anim
                    li
                        a(href='') #{modal.footer.seller}
                    li
                        | #{modal.footer.accept}
                        a(href='', title='#{modal.footer.terms}') #{modal.footer.terms}
                        | .
        // SLIDER
        .slider
            .mainHead
                h1 #{home.slider.intro1}
                    span.element
                h2 #{home.slider.intro2}
            ul.slides
                li
                    img(src='#{localConfig.base_path}/images/home/bg/bgPymes.jpg', alt='#{home.slider.bg}')
                li
                    img(src='#{localConfig.base_path}/images/home/bg/bgRestaurant.jpg', alt='#{home.slider.bg}')
                li
                    img(src='#{localConfig.base_path}/images/home/bg/bgServices.jpg', alt='#{home.slider.bg}')
                li
                    img(src='#{localConfig.base_path}/images/home/bg/bgStores.jpg', alt='#{home.slider.bg}')
                li
                    img(src='#{localConfig.base_path}/images/home/bg/bgLandscape.jpg', alt='#{home.slider.bg}')
        // FORM "TRY FREE 15 DAYS"
        .col-xs-12.col-md-4.right.formPhone.animated.fadeIn
            .row.registerTop
                .headReg
                    h2 !{form.free_form}
                form(name="register", action="/register", method="post").col.s12
                    input(type="hidden", name="customerType", value="UPPLICATION")
                    p.error.general-error.display-none #{register.error.general}
                    .row
                        .input-field.col.s12
                            input#app_name.validate(type='text', name='appName')
                            label(for='app_name') #{form.input.name}
                                p.error.display-none
                        .input-field.col.s12
                            input#email.validate(type='email', name='email')
                            label(for='email') #{form.input.email}
                                p.error.display-none
                        .input-field.col.s12
                            input#password.validate(type='password', name='password')
                            label(for='password') #{form.input.pass}
                                p.error.display-none
                    .btnReg
                        button(type="submit", data-loading="#{home.register.loading}", data-text="#{home.register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                            i.material-icons.left play_circle_outline
                            | #{header.free_trial}
                        p #{form.change_form}
                        p #{modal.footer.accept}
                            a(href='', title='#{modal.footer.terms}') #{modal.footer.terms}
                            | .
        // WHY
        .features
            .container
                .features-grids.text-center.animated.zoomIn
                    .col-md-4
                        .features-grid.centerImg
                            img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.png', alt='')
                            span.f-icon
                            label
                            h3 !{home.why.grow}
                    .col-md-4
                        .features-grid.centerImg
                            img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.png', alt='')
                            span.f-icon1
                            label
                            h3 !{home.why.loyal}
                    .col-md-4
                        .features-grid.centerImg
                            img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.png', alt='')
                            span.f-icon2
                            label
                            h3 !{home.why.others}
                    .clearfix
        // SAMPLES
        #tabs.container.scrollspy
            .row
                .plans-head.text-center
                    h4.headTitles #{home.samples.business}
            .section
                .row
                    .col.s12
                        ul.tabs
                            li.tab.col.s6.l3
                                a.active(href='#host')
                                    i.fa.fa-cutlery
                                    span #{home.samples.restaurants}
                            li.tab.col.s6.l3
                                a(href='#tiendas')
                                    i.fa.fa-shopping-cart
                                    span #{home.samples.shops}
                            li.tab.col.s6.l3
                                a(href='#servprof')
                                    i.fa.fa-wrench
                                    span !{home.samples.serv}
                            li.tab.col.s6.l3
                                a(href='#personal')
                                    i.fa.fa-cog
                                    span #{home.samples.personal}
                    #host.col.s12
                        .row.padTop50
                            .col.s12.l4.mobileImg
                                img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/iphone.png', alt='#{home.samples.alt_tag.img_iphone}')
                            .col.s12.l7.margTop50.mobileText
                                h5 !{home.samples.rest.rest_intro}
                                ul.uppOnFoot(type='circle')
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.rest.details1}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.rest.details2}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.rest.details3}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.rest.details4}
                                a.waves-effect.waves-light.btn-large.btn-upp
                                    i.material-icons.left play_circle_outline
                                    | #{home.samples.free_app}
                    #tiendas.col.s12
                        .row.padTop50
                            .col.s12.l4.mobileImg
                                img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/nexus.png', alt='#{home.samples.alt_tag.img_nexus}')
                            .col.s12.l7.margTop50.mobileText
                                h5 !{home.samples.shop.shop_intro}
                                    | .
                                ul.uppOnFoot(type='circle')
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.shop.shop_details1}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.shop.shop_details2}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.shop.shop_details3}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.shop.shop_details4}
                                a.waves-effect.waves-light.btn-large.btn-upp
                                    i.material-icons.left play_circle_outline
                                    | #{home.samples.free_app}
                    #servprof.col.s12
                        .row.padTop50
                            .col.s12.l4.mobileImg
                                img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/galaxy.png', alt='#{home.samples.alt_tag.img_galaxy}')
                            .col.s12.l7.margTop50.mobileText
                                h5 !{home.samples.services.serv_intro}
                                ul.uppOnFoot(type='circle')
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.services.serv_details1}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.services.serv_details2}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.services.serv_details3}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.services.serv_details4}
                                a.waves-effect.waves-light.btn-large.btn-upp
                                    i.material-icons.left play_circle_outline
                                    | #{home.samples.free_app}
                    #personal.col.s12
                        .row.padTop50
                            .col.s12.l4.mobileImg
                                img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/sonyXperiaZ3.png', alt='#{home.samples.alt_tag.img_xperia}')
                            .col.s12.l7.margTop50.mobileText
                                h5 !{home.samples.custom.cust_intro}
                                ul.uppOnFoot(type='circle')
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.custom.cust_details1}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.custom.cust_details2}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.custom.cust_details3}
                                    li
                                        a(href='#!')
                                            i.fa.fa-check
                                            !{home.samples.custom.cust_details4}
                                a.waves-effect.waves-light.btn-large.btn-upp
                                    i.material-icons.left play_circle_outline
                                    | #{home.samples.free_app}
        // HOW I MADE MY OWN APP in 4 Steps
        section#about.scrollspy
            .container
                .row
                    .plans-head.text-center
                        h4.headTitles #{home.how.how_main}
                .row
                    .col-lg-12
                        ul.timeline
                            li.step1
                                .timeline-image
                                    img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/keyboard.png', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4.subheading
                                            span 1
                                            !{home.how.how_one.reg_step1}
                                    .timeline-body
                                        p.text-muted
                                            span #{home.how.how_one.reg_step2}
                                        p.text-muted #{home.how.how_one.reg_step3}
                            li.timeline-inverted.step2
                                .timeline-image
                                    img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/register.png', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4.subheading
                                            span 2
                                            !{home.how.how_two.app_step1}
                                    .timeline-body
                                        p.text-muted !{home.how.how_two.app_step2}
                                        p.text-muted !{home.how.how_two.app_step3}
                                        p.text-muted !{home.how.how_two.app_step4}
                            li.step3
                                .timeline-image
                                    img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/light.png', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4.subheading
                                            span 3
                                            !{home.how.how_three.tutor_step1}
                                    .timeline-body
                                        p.text-muted !{home.how.how_three.tutor_step2}
                                        p.text-muted !{home.how.how_three.tutor_step3}
                            li.timeline-inverted.step4
                                .timeline-image
                                    img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/bullhorn.png', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4.subheading
                                            span 4
                                            !{home.how.how_four.publish_step1}
                                    .timeline-body
                                        p.text-muted !{home.how.how_four.publish_step2}
                                        p.text-muted !{home.how.how_four.publish_step3}
                            li.timeline-inverted.step5
                                .timeline-image
                                    img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/app.png', alt='')
                            .col.s12.m4.offset-m4.appReady
                                h4
                                    i.fa.fa-exclamation
                                    | #{home.how.app_ready}
                                    i.fa.fa-exclamation
        // CLIENTS
        .clients
            .container
                // PRICING PLANS
                #pricing.pricing-tables.scrollspy
                        .plans-head.text-center
                            h4.headTitles.noMargBot #{home.rates.rate_intro}
                            p #{home.rates.rate_sub}
                            .col-xs-12.col-sm-offset-3.col-sm-8.incluye
                                ul
                                    li
                                        i.fa.fa-commenting-o
                                        | #{home.rates.sub1}
                                    li
                                        i.fa.fa-shopping-cart
                                        | #{home.rates.sub2}
                                    li
                                        i.fa.fa-tablet
                                        | #home.{rates.sub3}
                                    li
                                        i.fa.fa-graduation-cap
                                        | #{home.rates.sub4}
                            .clearfix
                        .row
                            .col.s12.offset-m2.m8
                                ul.tabs
                                    li.tab.col.s12.m6
                                        a.active(href='#mensual') !{home.rates.monthly}
                                    li.tab.col.s12.m6
                                        a(href='#anual') !{home.rates.yearly}
                            // Plan Mensual
                            #mensual.col.s12
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.basic}
                                        ul
                                            li
                                                span
                                                    | 9,95
                                                    em #{home.rates.euro_month}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell-slash
                                                    | !{home.rates.no_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.proff}
                                        ul
                                            li
                                                span
                                                    | 29,95
                                                    em #{home.rates.euro_month}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.four_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.premiun}
                                        ul
                                            li
                                                span
                                                    | 59,95
                                                    em #{home.rates.euro_month}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.all_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.unlimited}
                                        ul
                                            li
                                                span
                                                    | 299,95
                                                    em #{home.rates.euro_month}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.all_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .clearfix
                            // Plan Anual
                            #anual.col.s12
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.basic}
                                        ul
                                            li
                                                span
                                                    | 99,50
                                                    em #{home.rates.euro_year}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell-slash
                                                    | !{home.rates.no_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.proff}
                                        ul
                                            li
                                                span
                                                    | 299,50
                                                    em #{home.rates.euro_year}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.four_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.premiun}
                                        ul
                                            li
                                                span
                                                    | 599,50
                                                    em #{home.rates.euro_year}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.all_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .col-xs-12.col-md-3.mobilePrices
                                    .pricing-table-grid
                                        h3 #{home.rates.unlimited}
                                        ul
                                            li
                                                span
                                                    |2999,50
                                                    em #{home.rates.euro_year}
                                            li
                                                a(href='#')
                                                    i.fa.fa-desktop
                                                    i.fa.fa-android
                                                    i.fa.fa-apple
                                                    | #{home.rates.app_web}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bar-chart
                                                    | !{home.rates.statistics}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bullhorn
                                                    | !{home.rates.no_bullhorn}
                                            li
                                                a(href='#')
                                                    i.fa.fa-pencil
                                                    | !{home.rates.no_sign}
                                            li
                                                a(href='#')
                                                    i.fa.fa-bell
                                                    | !{home.rates.all_push}
                                        a.order-btn(href='#') #{home.register.call_to_action}
                                .clearfix
                                .col-xs-12
                                    .alert.alert-info(role='alert')
                                        i.fa.fa-info
                                        | !{home.rates.monthless}
                        .col-xs-12.tax
                            p
                                i.fa.fa-asterisk
                                | #{home.rates.with_tax}
                // CLIENTS TESTIMONIALS
                .c-testmonials
                    .text-center.marBot100
                        h4.headTitles #{home.testimonials.title}
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client1.cite}
                            a(href='#') - #{home.testimonials.client1.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/ana.png', title='name')
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client2.cite}
                            a(href='#') - #{home.testimonials.client2.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/david.png', title='name')
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client3.cite}
                            a(href='#') - #{home.testimonials.client3.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/gabriel.png', title='name')
        // CLIENTS CAROUSEL
        .clientSection
            .container
                #clientsCarousel
                    .item
                        a(href='http://www.abc.es/tecnologia/moviles-aplicaciones/20140315/abci-upplication-wordpress-creacion-201403141400.html', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/abc.png', alt='ABC logo')
                    .item
                        a(href='http://www.eleconomista.es/interstitial/volver/consejo/emprendedores-innova/noticias/5498091/01/14/Upplication-permite-crear-una-aplicacion-movil-por-menos-de-5-euros-al-mes.html', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/eleconomista.png', alt='El Economista logo')
                    .item
                        a(href='http://www.forbes.es/actualizaciones/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/forbes.png', alt='Forbes logo')
                    .item
                        a(href='http://www.efeempresas.com/noticia/nace-upplication-startup-permite-crear-propia-aplicacion-movil-efeempresas/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/emprende.png', alt='Emprende logo')
                    .item
                        a(href='http://blogthinkbig.com/upplication-post-pc/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/telefonica.png', alt='Telefónica logo')
                    .item
                        a(href='http://www.ticbeat.com/pymes/servicios-crear-app-de-tu-negocio-sin-programar/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/ticbeat.png', alt='TicBeat logo')
                    .item
                        a(href='http://wwwhatsnew.com/2013/10/21/upplication-para-crear-apps-de-comercio-electronico-sin-saber-programar', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/wwwhatsnew.png', alt='wwwhatsnew logo')
        // 15 DAYS TRIAL BUTTOM
        .pricing-plan
            .container
                .pricing-plan-grids
                    .pricing-plan-left
                        h2 !{footer.try_it}
                        span #{home.permanence}
                    .pricing-plan-right
                        a.price-btn(href='pricing.html') #{home.create_free}
                    .clearfix
        // COSTUMERS SERVICES CONTACT AREA
        .servCliente
            .container
                .col.s12
                    ul
                        li
                            a #{helpcenter.customer_service.text2}
                        li.tel.hover-anim
                            a(href='#{helpcenter.customer_service.phone.link}', title='#{helpcenter.customer_service.phone.alt_tag}')
                                i.icon-phone
                                | !{helpcenter.customer_service.phone.text_tel}
                        li.mail.hover-anim
                            a(href='#{helpcenter.customer_service.email.link}', title='#{helpcenter.customer_service.email.alt_tag}')
                                i.icon-envelope
                                | #{helpcenter.customer_service.email.title}
        // FOOTER
        footer.page-footer
            .container.padTop50.padBot50
                .row.hover-anim
                    .col.l3.s12.footCol
                        h6 #{external.titles.help}
                        ul.footLinks
                            li
                                a(href='#!', title='') #{external.helpcenter.anchor}
                            li
                                a(href='#!', title='') #{external.tutorials.anchor}
                            li
                                a(href='http://www.upplication.com/blog/', title='Blog Upplication') #{external.blog.anchor}
                        ul
                            li
                                a(href='http://ec.europa.eu/regional_policy/es/funding/erdf/', title='UE fonde de desarrollo regional')
                                    img(src='#{localConfig.base_path}/images/home/icons/eu.png', alt='UE fonde de desarrollo regional')
                    .col.l3.s12.footCol
                        h6 #{external.titles.uppl}
                        ul.uppOnFoot.footLinks(type='circle')
                            li
                                a(href='#tabs', title='#{external.features.anchor}') #{external.features.anchor}
                            li
                                a(href='#about', title='#{external.create_apps.anchor}') #{external.create_apps.anchor}
                            li
                                a(href='#tabs', title='#{external.apps.anchor}') #{external.apps.anchor}
                            li
                                a(href='#pricing', title='#{external.pricing.anchor}') #{external.pricing.anchor}
                    .col.l3.s12.footCol
                        h6 #{external.titles.misc}
                        ul.footLinks
                            li
                                a(href='#!', title='Upplication Team') #{external.team.anchor}
                            li
                                a(href='http://www.upplication.com/distribuidores/conviertete-en-distribuidor-de-apps.html', title='Distribuidor de Upplication') #{external.partners.anchor}
                            li
                                a(href='#!', title='') #{external.jobs.anchor}
                            li
                                a(href='#{external.breakfasts.url}', title='Desayunos Upplication') #{external.breakfasts.anchor}
                            li
                                a(href='https://www.dropbox.com/s/sy2f0quvuq7nk9n/Mediakit.zip', title='Prensa Upplication') #{external.media_kit.anchor}
                    .col.l3.s12.footCol
                        h6 #{external.titles.legal}
                        ul.footLinks
                            li
                                a(href='terminos#legal', title='Aviso Legal Upplication') #{terms.legal.title}
                            li
                                a(href='terminos#privacidad', title='Política de Privacidad Upplication') #{terms.privacy.title}
                            li
                                a(href='terminos#uso', title='Condiciones de uso Upplication') #{footer.terms_of_use}
                            li
                                a(href='terminos#cookies', title='Uso de Cookies Upplication') #{footer.cookies_use}
                        ul
                            li
                                a(href='https://mixpanel.com/', title='Mixpanel mobile analytics')
                                    img(src='#{localConfig.base_path}/images/home/icons/badge_light.png', alt='Mixpanel mobile analytics')
            .clearfix
            .footer-copyright
                .container
                    span © Upplication 2015
                    i.fa.fa-circle
                    em Designed and assembled in Madrid
                    ul.rrss.right.hover-anim
                        li.facebook
                            a(href='https://www.facebook.com/Upplication', title='Facebook Upplication')
                                i.fa.fa-facebook
                        li.twitter
                            a(href='https://twitter.com/upplication', title='Twitter Upplication')
                                i.fa.fa-twitter
                        li.instagram
                            a(href='https://instagram.com/upplication', title='Instagram Upplication')
                                i.fa.fa-instagram
                        li.youtube
                            a(href='https://www.youtube.com/user/Upplication', title='Youtube Upplication')
                                i.fa.fa-youtube-play
                        li.linkedin
                            a(href='https://www.linkedin.com/company/upplication', title='LinkedIn Upplication')
                                i.fa.fa-linkedin
                        li.google
                            a(href='https://plus.google.com/+Upplication/videos', title='Google+ Upplication')
                                i.fa.fa-google-plus
        #cookies
            i.fa.fa-times.close(onclick="closeCookies()")
            p !{footer.cookies}
        // vendor js
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/materialize/dist/js/materialize.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js')
        // endvendor

        // build:js /scripts/app.min.js
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/v2/register.js')
        script(type="text/javascript", src='/scripts/v2/lang.js')
        // endbuild
        script.
            $(function () {
                $(".element").typed({
                    strings: ["emprendedores", "hosteleria", "servicios", "tiendas", "ti"],
                    typeSpeed: 100,
                    startDelay: 200,
                    backDelay: 2500,
                    loop: true
                });
            });
        // smooth scrolling
        script(type='text/javascript').
            $(document).ready(function () {
                $("#clientsCarousel").owlCarousel({
                    autoPlay: 3000, // Set AutoPlay to 3 seconds
                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]
                });
                $('.scrollspy').scrollSpy();
                $('ul.tabs').tabs();
                $('.modal-trigger').leanModal();
                $('.parallax').parallax();
                $(".button-collapse").sideNav();
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
                var options = [
                    {selector: '#tabs', offset: 300, callback: 'Materialize.showStaggeredList("#tabs")'},
                    {selector: '#about', offset: 300, callback: 'Materialize.showStaggeredList(".timeline")'},
                    {selector: '#pricing', offset: 300, callback: 'Materialize.showStaggeredList(".incluye")'},
                ];
                Materialize.scrollFire(options);
                // Animate.css for web elements:
                $('.imgMove').mouseenter(function () {
                    $(this).addClass("animated");
                    $(this).addClass("pulse");
                });
                $('.imgMove').mouseleave(function () {
                    $(this).removeClass("animated");
                    $(this).removeClass("pulse");
                });
                $('.imgFlash').mouseenter(function () {
                    $(this).addClass("animated");
                    $(this).addClass("rubberBand");
                });
                $('.imgFlash').mouseleave(function () {
                    $(this).removeClass("animated");
                    $(this).removeClass("rubberBand");
                });
                $('.social-share').click(function () {
                    $(".social-nav").toggleClass("social-show");
                });
            });
        // START MOBILE TOP NAVIGATION MENU
        script.
            $(function () {
                var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();
                $(pull).on('click', function (e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    var w = $(window).width();
                    if (w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
            });

        include base/scripts-thirdparties