extends base

block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var canonical = $.home._canonical

block content
    script(type='text/javascript')
        window.$UPP = window.$UPP || {};
        $UPP.url = "#{$.home._url}";
        
    section#register
        div
            .mobile
                img(src="#{BASE_PATH}/images/la-florette-mobile.png", alt="App móvil")
            .claim.padding-top-2x.margin-bottom-2x.text-shadow.width-90.center 
                h1.uppercase.cwhite #{home.register.claim}
                p.big #{home.register.arguments}
            .video-container.acenter.margin-bottom-3x
                a.unstyled.open-popup-link.icon-play.mfp-iframe(href="http://www.youtube.com/watch?v=_9Xknb3xz7o")
            article
                //div#test-free.bg-cblack.acenter.btn.arrow-down-black
                //    | #{$.home.test_free}!

                form(name="register", action="/register", method="post")
                    input(type="text", name="name", placeholder="#{home.register.app_name}")
                    input(type="email", name="email", placeholder="#{home.register.email}")
                    input(type="password", name="pass", placeholder="#{home.register.password}")
                    input.bg-pastel-green.big.btn.margin-bottom-2x(type="submit", value="#{home.register.call_to_action}")
    section.bg-alabaster.padding.clearfix
        .margin-bottom-2x.margin-top-2x.multidevice

            .width-55.left
                h1.acenter #{home.multidevice.title}
                p.acenter.center
                    | #{home.multidevice.text}

            #devices.margin-top-3x.margin-bottom-3x.acenter.width-45
                img.screenshot-devices(src='#{BASE_PATH}/images/apps-para-todos-los-dispositivos.png', alt="#{home.multidevice.devices_alt}")


            ul.so-available
                li
                    a.icon-html5(title="#{home.multidevice.html5_alt}")
                li
                    a.icon-android(title="#{home.multidevice.android_alt}")
                li
                    a.icon-apple(title="#{home.multidevice.ios_alt}")

    section.bg-white
        h1.bigger.acenter.margin-top-2x.width-90.center.margin-bottom-2x #{home.apps.title}
        ul.apps-list
            li
                a.image(style="background-image:url('#{BASE_PATH}/images/app 1.png')", href="#")
                .padding-2x
                    h1 #{home.apps.bikers.title}
                    p
                        | #{home.apps.bikers.description} <a href="#{home.apps.bikers.link}">#{home.apps.more}</a> >>
            li.clearfix
                a.image(style="background-image:url('#{BASE_PATH}/images/app 2.png')", href="#"))
                .padding-2x
                    h1 #{home.apps.welovesushy.title}
                    p
                        | #{home.apps.welovesushy.description} <a href="#{home.apps.welovesushy.link}">#{home.apps.more}</a> >>
            li.clearfix
                a.image(style="background-image:url('#{BASE_PATH}/images/app 3.png')", href="#"))
                .padding-2x
                    h1 #{home.apps.educapp.title}
                    p
                        | #{home.apps.educapp.description} <a href="#{home.apps.educapp.link}">#{home.apps.more}</a> >>

    section.bg-alabaster.padding.clearfix
        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x.big #{home.testimonials.title}
        ul.testimonials
            li
                blockquote
                    img(src="#{BASE_PATH}/images/ana.jpeg", alt="Ana, C'UP Your choice on top")
                    p #{home.testimonials.client1.cite}
                    footer 
                        cite - #{home.testimonials.client1.name}

            li
                blockquote
                    img(src="#{BASE_PATH}/images/david.jpeg", alt="David, Bar Trapatapa")
                    p #{home.testimonials.client2.cite}
                    footer 
                        cite - #{home.testimonials.client2.name}

            li
                blockquote
                    img(src="#{BASE_PATH}/images/gabriel.jpeg", alt="Gabriel, Moto Urban")
                    p #{home.testimonials.client3.cite}
                    footer 
                        cite - #{home.testimonials.client3.name}


    section.bg-pastel-green.padding.clearfix.padding-top-2x
        h1.width-80.big.center.acenter.mine-shaft.margin-bottom-2x #{home.register_inline.title}
        form.width-80.center.inline-form(name="register", action="/register", method="post")
            input(type="text", name="name", placeholder="#{home.register_inline.app_name}")
            input(type="email", name="email", placeholder="#{home.register_inline.email}")
            input(type="password", name="pass", placeholder="#{home.register_inline.password}")
            input.bg-mine-shaft.big.btn.margin-bottom-2x.white.big.uppercase(type="submit", value="#{home.register_inline.call_to_action}")


        #test-popup.cwhite.popup.mfp-hide
            | Popup content