block vars
    - var title = home_telefonica_mpos._meta_title
    - var description = home_telefonica_mpos._meta_description
    - var keywords = home_telefonica_mpos._keywords
    - var cssClass = 'home'
doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]

    head
        include base/scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")
        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='http://upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='#{localConfig.base_path}/images/common/upplication_rrss.png')
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="#{localConfig.base_path}/images/common/upplication_rrss.png")
        link(type='text/plain', rel="author", href='#{localConfig.base_path}/humans.txt')
        link(rel="canonical", href="#{routing[_template][lang]}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")

        link(rel='stylesheet', href='#{localConfig.base_path}/styles/vendor/base.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/styles/telefonica/telefonica.css')

        link(rel="shortcut icon", href="#{localConfig.base_path}/images/favicon/favicon-32x32.png")
        link(rel="profile", href="http://gmpg.org/xfn/11")

    body(id="#{_template}", data-lang="#{lang}")

        .outer-wrap.color-tlf
            #main-container.slide-pannel.effects

                //- MPOS specific Header (not Aplicateca´s one!)
                .header-container-tlf
                    header.tlf.telefonica-mpos
                        a.logo(href='#{localConfig.base_path}')
                            .logo-tlf
                        a.icon-list
                            span Menu
                        nav.main-menu.uppercase.unstyled
                            ul#sections
                                li.change-lang.change-lang-menu
                                    each lang in langs.codes
                                        a.lang-link(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
                                li.login_btn
                                    a(href='#{external.dashboard.url}') #{external.dashboard.anchor}
                            a.btn-signup.green-accent-btn.triggers-signup.bold(href="#free-trial", onclick="return false;") #{header.free_trial}

                #content(class="#{cssClass}")
                    script(type='text/javascript').
                        $UPP.url = "#{home_telefonica_mpos._url}";

                    section#register
                        div
                            .mobile
                                img(src="#{localConfig.base_path}/images/aplicateca/la-florette-mobile.png", alt="App móvil")
                            .claim.padding-top-2x.margin-bottom-2x.width-90.center
                                h1.uppercase.acenter.bold #{register.claim}
                                p.big.acenter #{register.arguments}
                            article
                                form(name="register", action="/register", method="post")
                                    div.announce.acenter.btn.arrow-down-black
                                        | #{register.announce}
                                    input(type="hidden", name="customerType", value="MPAY")
                                    label(for="appName")
                                        input(type="text", name="appName", placeholder="#{register.app_name}", required="required", minlength="3", maxlength="32", pattern="^[a-zA-Z]{1}[a-zA-Z0-9 ]{2,}", title="#{register.warning.name}")
                                        p.error.display-none
                                            //- El nombre de la app ya está registrado
                                    label(for="email")
                                        input(type="email", name="email", placeholder="#{register.email}", required="required")
                                        p.error.display-none
                                            //- El email ya está registrado
                                    label(for="password")
                                        input(type="password", name="password", placeholder="#{register.password}", required="required", title="#{register.warning.password}", pattern=".{8,}")
                                        p.error.display-none
                                            //- La contraseña debe contener al menos 6 caracteres
                                    input.green-accent-btn.big.btn.margin-bottom.uppercase.bold(type="submit", value="#{register.call_to_action}", data-loading="#{register.loading}", data-text="#{register.call_to_action}")
                                    p.tos.acenter.italic !{register.accept_terms}
                                        a(href="#{external.tos.url}") #{register.terms}

                //- SAMPLES :: app showcases
                include includes/samples

                //- Spacer with Grey Border
                .spacer-border-grey

                //- MULTIDEVISES APPS
                include includes/multidevices

                //- CLIENTS :: new testimonial area
                include includes/testimonials

                #dark-layout

                //- CLIENTS :: "owl" carousel
                include includes/clients

                //- TRIAL
                include includes/trial

                //- MODAL :: FREE TRIAL
                #free-trial.modal.modal-upp
                    include includes/modal-free

                .footer-container.footer-container-tlf
                    section
                        .contact__customer-service.margin-top-cero.margin-bottom-cero.large.acenter
                            .g-plusone.vertical-align-middle
                            .customer-service__text.inline-block.vertical-align-top.padding-4px #{home_telefonica_mpos.contact.customer_service.text}
                            .customer-service__links.inline-block.vertical-align-top.padding-4px
                                span
                                a.customer-service__email(href="#{home_telefonica_mpos.contact.customer_service.email.link}", title="#{home_telefonica_mpos.contact.customer_service.email.title}")  #{home_telefonica_mpos.contact.customer_service.email.text}
                    hr.clear
                //- Cookies (default one + telefonica´s style added)
                #cookies
                    p !{footer.cookies}
                        i.icon.icon-cross#cookies-accept.close

        script(type="text/javascript", src='#{localConfig.base_path}/scripts/vendor/base.js')
        script(type="text/javascript", src='#{localConfig.base_path}/scripts/main.js')

        script(type='text/javascript').
            $(document).ready(function () {
                $("#clients-carousel").owlCarousel({
                    autoPlay: 3000, //- Set AutoPlay to 3 seconds
                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]
                });
            });

        //- AOS animations lib
        script.
            AOS.init({ once: true });

        script(type='text/javascript').
                   $("#seller-code").hide();
                   $("[name=customerType]").val("MPAY");