extend base/v2/base

block vars
    - var title = home._meta_title
    - var description = home._meta_description
    - var keywords = home._keywords
    - var cssClass = 'home'

block css
    link(rel='stylesheet', href='#{localConfig.base_path}/styles/home/home.css')

block content

    // SLIDER
    .slider.slides-to-mobile
        .mainHead
            h2 #{home.slider.intro1}
                .typed-effect
                    span.element
            h1 !{home.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgpymes.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgcoffeeshop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgservices.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgbarbershop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
        .dippah.skew-right

    // REGISTER PANEL :: "15 days free trial" (DESKTOP - LAPTOP)
    include includes/register

    // WHY (Intro Tips)
    .features.features-upp
        .container
            .row.features-grids.text-center(data-aos='zoom-in')
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.svg', alt='#{home.why.img.grow}', title='#{home.why.img.grow}')
                        h3 !{home.why.grow}
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.svg', alt='#{home.why.img.loyal}', title='#{home.why.img.loyal}')
                        h3 !{home.why.loyal}
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.svg', alt='#{home.why.img.others}', title='#{home.why.img.others}')
                        h3 !{home.why.others}
                .clearfix

    // SHOWCASE (Samples)
    #tabs.container.scrollspy
        .row
            .plans-head.text-center
                h2.headTitles #{home.samples.business}
        .section
            .row
                .col.s12
                    ul.tabs
                        li.tab.col.s3.m3.l3
                            a.active(href='#host', title='#{home.samples.restaurants}')
                                i.icon.icon-food
                                span #{home.samples.restaurants}
                        li.tab.col.s3.m3.l3
                            a(href='#tiendas', title='#{home.samples.shops}')
                                i.icon.icon-ecommerce
                                span #{home.samples.shops}
                        li.tab.col.s3.m3.l3
                            a(href='#servprof', title='#{home.samples.serv}')
                                i.icon.icon-laptop
                                span !{home.samples.serv}
                        li.tab.col.s3.m3.l3
                            a(href='#personal', title='#{home.samples.personal}')
                                i.icon.icon-brush
                                span #{home.samples.personal}
                #host.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg(data-aos='fade-left')
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-hostelry.png', alt='#{home.samples.alt_tag.img_iphone}', title='#{home.samples.alt_tag.img_iphone}')
                        .col.s12.l7.margTop50.mobileText(data-aos='fade-right')
                            h5 !{home.samples.rest.rest_intro}
                            ul.tabs-content-list(type='circle')
                                li
                                    a(href='', title='#{home.samples.rest.details1}')
                                        i.icon.icon-ok
                                        | !{home.samples.rest.details1}
                                li
                                    a(href='', title='#{home.samples.rest.details2}')
                                        i.icon.icon-ok
                                        | !{home.samples.rest.details2}
                                li
                                    a(href='', title='#{home.samples.rest.details3}')
                                        i.icon.icon-ok
                                        | !{home.samples.rest.details3}
                                li
                                    a(href='', title='#{home.samples.rest.details4}')
                                        i.icon.icon-ok
                                        | !{home.samples.rest.details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#free-trial', title='#{home.samples.free_app}')
                                i.icon.icon-rocket.left
                                span #{home.samples.free_app}
                #tiendas.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-shop.png', alt='#{home.samples.alt_tag.img_nexus}', title='#{home.samples.alt_tag.img_nexus}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.shop.shop_intro}
                                | .
                            ul.tabs-content-list(type='circle')
                                li
                                    a(href='#!', title='#{home.samples.shop.shop_details1}')
                                        i.icon.icon-ok
                                        | !{home.samples.shop.shop_details1}
                                li
                                    a(href='#!', title='#{home.samples.shop.shop_details2}')
                                        i.icon.icon-ok
                                        | !{home.samples.shop.shop_details2}
                                li
                                    a(href='#!', title='#{home.samples.shop.shop_details3}')
                                        i.icon.icon-ok
                                        | !{home.samples.shop.shop_details3}
                                li
                                    a(href='#!', title='#{home.samples.shop.shop_details4}')
                                        i.icon.icon-ok
                                        | !{home.samples.shop.shop_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#free-trial', title='#{home.samples.free_app}')
                                i.icon.icon-rocket.left
                                span #{home.samples.free_app}
                #servprof.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-porfessional-services.png', alt='#{home.samples.alt_tag.img_galaxy}', title='#{home.samples.alt_tag.img_galaxy}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.services.serv_intro}
                            ul.tabs-content-list(type='circle')
                                li
                                    a(href='#!', title='#{home.samples.services.serv_details1}')
                                        i.icon.icon-ok
                                        | !{home.samples.services.serv_details1}
                                li
                                    a(href='#!', title='#{home.samples.services.serv_details2}')
                                        i.icon.icon-ok
                                        | !{home.samples.services.serv_details2}
                                li
                                    a(href='#!', title='#{home.samples.services.serv_details3}')
                                        i.icon.icon-ok
                                        | !{home.samples.services.serv_details3}
                                li
                                    a(href='#!', title='#{home.samples.services.serv_details4}')
                                        i.icon.icon-ok
                                        | !{home.samples.services.serv_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#free-trial', title='#{home.samples.free_app}')
                                i.icon.icon-rocket.left
                                span #{home.samples.free_app}
                #personal.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/app-showcase-customize.png', alt='#{home.samples.alt_tag.img_xperia}', title='#{home.samples.alt_tag.img_xperia}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.custom.cust_intro}
                            ul.tabs-content-list(type='circle')
                                li
                                    a(href='#!', title='#{home.samples.custom.cust_details1}')
                                        i.icon.icon-ok
                                        | !{home.samples.custom.cust_details1}
                                li
                                    a(href='#!', title='#{home.samples.custom.cust_details2}')
                                        i.icon.icon-ok
                                        | !{home.samples.custom.cust_details2}
                                li
                                    a(href='#!', title='#{home.samples.custom.cust_details3}')
                                        i.icon.icon-ok
                                        | !{home.samples.custom.cust_details3}
                                li
                                    a(href='#!', title='#{home.samples.custom.cust_details4}')
                                        i.icon.icon-ok
                                        | !{home.samples.custom.cust_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#free-trial', title='#{home.samples.free_app}')
                                i.icon.icon-rocket.left
                                span #{home.samples.free_app}
    // Spacer with Grey Border
    .spacer-border-grey

    // MULTIDEVISES APPS
    section#multidevises.scrollspy
        .container
            .row
                .plans-head.text-center.padTop30
                    h2.headTitles.noMargBot #{home.multidevises.title}
                    p #{home.multidevises.sub_title}
            .row(data-aos='zoom-in-down', data-aos-delay='400')
                .multidevises-bg.marBot50
                    img.responsive-img#image-test(src='#{localConfig.base_path}/images/home/bg/multidevise-bg.png', alt='#{home.multidevises.title}', title='#{home.multidevises.title}')

    // HOW I MADE MY OWN APP in 4 Steps
    section#timeline.timeline-section.scrollspy
        .container
            .row
                .plans-head.text-center
                    h2.headTitles #{home.how.how_main}
            .row
                .col.l12
                    ul.timeline
                        li.step1
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/sign-up.svg', alt='#{home.how.how_one.reg_step1}', title='#{home.how.how_one.reg_step1}')
                            .timeline-panel(data-aos='flip-up')
                                .timeline-heading
                                    h4.subheading
                                        span 1
                                        | !{home.how.how_one.reg_step1}
                                .timeline-body
                                    p.text-muted
                                        span !{home.how.how_one.reg_step2}
                                        | &nbsp; !{home.how.how_one.reg_step3}
                                    p.text-muted !{home.how.how_one.reg_step4}
                                    p.text-muted
                                        a.modal-trigger(href='#free-trial', alt='#{home.how.how_one.reg_title}', title='#{home.how.how_one.reg_title}') #{home.how.how_one.reg_step5}
                                            i.icon.icon-left
                        li.timeline-inverted.step3
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/personal-tutor.svg', alt='#{home.how.how_three.tutor_step1}', title='#{home.how.how_three.tutor_step1}')
                            .timeline-panel(data-aos='flip-down')
                                .timeline-heading
                                    h4.subheading
                                        span 2
                                        | !{home.how.how_three.tutor_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_three.tutor_step2}
                        li.step2
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/create-your-app.svg', alt='#{home.how.how_two.app_step1}', title='#{home.how.how_two.app_step1}')
                            .timeline-panel(data-aos='flip-up')
                                .timeline-heading
                                    h4.subheading
                                        span 3
                                        | !{home.how.how_two.app_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_two.app_step2}
                                    p.text-muted !{home.how.how_two.app_step3}
                        li.timeline-inverted.step4
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/we-publish-your-app.png', alt='#{home.how.how_four.publish_step1}', title='#{home.how.how_four.publish_step1}')
                            .timeline-panel(data-aos='flip-down')
                                .timeline-heading
                                    h4.subheading
                                        span 4
                                        | !{home.how.how_four.publish_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_four.publish_step2}
                                    p.text-muted !{home.how.how_four.publish_step3}
                                    p.text-muted
                                        a.modal-trigger(href='#free-trial', alt='#{home.how.how_one.reg_title}', title='#{home.how.how_one.reg_title}') #{home.how.how_one.reg_step5}
                                            i.icon.icon-left
    // SLIDER 2
    .slider.middle-page-slider
        .app-ready.center
            h4 #{home.slider.appready.title}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_01.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_02.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_03.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_04.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_05.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')

    // CLIENTS :: new testimonial area
    #about.about
        .col.s12.center-align.team-header
            h4.headTitles !{home.testimonials.title}
        .about-grids.row
            .col.m4.about-grid.about-grid1(data-aos='fade-down')
                .about-grid-info
                    h4 !{home.testimonials.client1.name}
                    p #{home.testimonials.client1.quote}
                    p.grid-link
                        a(href="#{home.successful_showcase.samples.sample1_url}", alt='#{home.successful_showcase.samples.sample1}', title="#{home.successful_showcase.samples.sample1}") #{home.successful_showcase.samples.sample1}
                            i.icon.icon-left
                .about-grid-pic
                    .video-container
                        .youtube-player(data-id='LluyPqRVGC4')
            .col.m4.about-grid.about-grid2(data-aos='fade-up')
                .about-grid-pic
                    .video-container
                        .youtube-player(data-id='pbWm6NaZfbY')
                .about-grid-info
                    h4 !{home.testimonials.client2.name}
                    p #{home.testimonials.client2.quote}
                    p.grid-link
                        a(href="#{home.successful_showcase.samples.sample2_url}", alt='#{home.successful_showcase.samples.sample2}', title="#{home.successful_showcase.samples.sample2}") #{home.successful_showcase.samples.sample2}
                            i.icon.icon-left
            .col.m4.about-grid.about-grid1(data-aos='fade-down')
                .about-grid-info
                    h4 !{home.testimonials.client3.name}
                    p #{home.testimonials.client3.quote}
                    p.grid-link
                        a(href="#{home.successful_showcase.samples.sample3_url}", alt='#{home.successful_showcase.samples.sample3}', title="#{home.successful_showcase.samples.sample3}") #{home.successful_showcase.samples.sample3}
                            i.icon.icon-left
                .about-grid-pic
                    .video-container
                        .youtube-player(data-id='gmf326nQI9I')
            .clearfix

block scripts

    script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')

    script(type='text/javascript').
        $(function () {
            setTimeout(function() {
                $(".slides [data-src]").each(function() {
                    var $this = $(this);
                    $this.attr('src', $this.attr('data-src'));
                });
                // restart slider
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
            }, 3000);

        });

    // TYPED PLUGIN JS
    script(type='text/javascript').
        $(function () {
            $(".element").typed({
                strings: !{JSON.stringify(home.slider.text)},
                typeSpeed: 100,
                startDelay: 200,
                backDelay: 2500,
                loop: true
            });
        });

    // CUSTOM JS
    script(type='text/javascript').
        $(document).ready(function () {
            $('ul.tabs').tabs();
            $('.parallax').parallax();
        });
        $('.slider').slider({
            indicators: false,
            interval: 4000
        }).slider('pause');
