extends base

block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var canonical = $.home._canonical
    - var cssClass = 'home'

block content
    script(type='text/javascript').
        $UPP.url = "#{$.home._url}";
        
    section#about.bottom-space
        div.container.clearfix
            h2 #{home.about_us.about_us}
            div.column
                p #{home.about_us.paragraphs[0]}
                p #{home.about_us.paragraphs[1]}
                p #{home.about_us.paragraphs[2]}
            div.column
                img(src='#{localConfig.base_path}/images/about_us.png',alt='#{home.about_us.image_alt}')
                p #{home.about_us.paragraphs[3]}

    section#timeline.bottom-space
        div.container
            h2 #{home.timeline.timeline}
            div.timeline
                div.line
                    ul
                        li.year-2012
                            span 2012
                            ul
                                li.event-offset-50.mobile-offset-18
                                    div.popup
                                        span #{home.timeline['2012'][0].date}
                                        p #{home.timeline['2012'][0].desc}
                        li.year-2013
                            span 2013
                            ul
                                li.event-offset-17.mobile-offset-18
                                    div.popup
                                        span #{home.timeline['2013'][0].date}
                                        p #{home.timeline['2013'][0].desc}
                                li.event-offset-55.mobile-offset-63
                                    div.popup
                                        span #{home.timeline['2013'][1].date}
                                        p #{home.timeline['2013'][1].desc}
                                li.event-offset-5.mobile-offset-69
                                    div.popup
                                        span #{home.timeline['2013'][2].date}
                                        p #{home.timeline['2013'][2].desc}
                                li.event-offset-5.mobile-offset-75
                                    div.popup
                                        span #{home.timeline['2013'][3].date}
                                        p #{home.timeline['2013'][3].desc}
                        li.year-2014
                            span 2014
                            ul
                                li.event-offset-16.mobile-offset-11
                                    div.popup
                                        span #{home.timeline['2014'][0].date}
                                        p #{home.timeline['2014'][0].desc}
                                li.event-offset-6.mobile-offset-17
                                    div.popup
                                        span #{home.timeline['2014'][1].date}
                                        p #{home.timeline['2014'][1].desc}
                                li.event-offset-9.mobile-offset-23
                                    div.popup
                                        span #{home.timeline['2014'][2].date}
                                        p #{home.timeline['2014'][2].desc}
                                li.event-offset-2.mobile-offset-29
                                    div.popup
                                        span #{home.timeline['2014'][3].date}
                                        p #{home.timeline['2014'][3].desc}
                                li.event-offset-9.mobile-offset-35
                                    div.popup
                                        span #{home.timeline['2014'][4].date}
                                        p #{home.timeline['2014'][4].desc}
    section#apps
        div.container.clearfix
            div.apps-data
                h3 #{home.apps.the_data}
                h4
                    span.big 79.302.920
                    span.small #{home.apps.apps_created}
            img(src='#{localConfig.base_path}/images/intro_iphone.png',alt='#{home.apps.screen_alt}')
    section#video
        .video-container.acenter.margin-bottom-3x
            a#youtube-video.unstyled.mfp-iframe(href = "https://www.youtube.com/watch?v=baU1nnAxRYI"): img(src='#{localConfig.base_path}/images/video_play_button.png',alt='#{home.video.play_alt}')