extend base/v2/base

block vars
    - var title = home._meta_title
    - var description = home._meta_description
    - var keywords = home._keywords
    - var cssClass = 'home'

block css
    link(rel='stylesheet', href='#{localConfig.base_path}/styles/home/home.css')

block content

    // SLIDER
    .slider.slides-to-mobile
        .mainHead
            h2 #{home.slider.intro1}
                .typed-effect
                    span.element
            h1 !{home.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgpymes.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgcoffeeshop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgservices.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgbarbershop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
        .dippah.skew-right

    // REGISTER PANEL :: "15 days free trial" (DESKTOP - LAPTOP)
    include includes/register

    // WHY (Intro Tips)
    .features.features-upp
        .container
            .row.features-grids.text-center(data-aos='zoom-in')
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.svg', alt='#{home.why.img.grow}', title='#{home.why.img.grow}')
                        h3 !{home.why.grow}
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.svg', alt='#{home.why.img.loyal}', title='#{home.why.img.loyal}')
                        h3 !{home.why.loyal}
                .col.s12.m4
                    .features-grid.center-img
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.svg', alt='#{home.why.img.others}', title='#{home.why.img.others}')
                        h3 !{home.why.others}
                .clearfix

    // SAMPLES :: app showcases
    include includes/samples

    // Spacer with Grey Border
    .spacer-border-grey

    // MULTIDEVISES APPS
    section#multidevises.scrollspy
        .container
            .row
                .plans-head.text-center.padTop30
                    h2.headTitles.noMargBot #{home.multidevises.title}
                    p #{home.multidevises.sub_title}
            .row(data-aos='zoom-in-down', data-aos-delay='400')
                .multidevises-bg.marBot50
                    img.responsive-img#image-test(src='#{localConfig.base_path}/images/home/bg/multidevise-bg.png', alt='#{home.multidevises.title}', title='#{home.multidevises.title}')

    // HOW I MADE MY OWN APP in 4 Steps
    section#timeline.timeline-section.scrollspy
        .container
            .row
                .plans-head.text-center
                    h2.headTitles #{home.how.how_main}
            .row
                .col.l12
                    ul.timeline
                        li.step1
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/sign-up.svg', alt='#{home.how.how_one.reg_step1}', title='#{home.how.how_one.reg_step1}')
                            .timeline-panel(data-aos='flip-up')
                                .timeline-heading
                                    h4.subheading
                                        span 1
                                        | !{home.how.how_one.reg_step1}
                                .timeline-body
                                    p.text-muted
                                        span !{home.how.how_one.reg_step2}
                                        | &nbsp; !{home.how.how_one.reg_step3}
                                    p.text-muted !{home.how.how_one.reg_step4}
                                    p.text-muted
                                        a.modal-trigger(href='#free-trial', alt='#{home.how.how_one.reg_title}', title='#{home.how.how_one.reg_title}') #{home.how.how_one.reg_step5}
                                            i.icon.icon-left
                        li.timeline-inverted.step3
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/personal-tutor.svg', alt='#{home.how.how_three.tutor_step1}', title='#{home.how.how_three.tutor_step1}')
                            .timeline-panel(data-aos='flip-down')
                                .timeline-heading
                                    h4.subheading
                                        span 2
                                        | !{home.how.how_three.tutor_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_three.tutor_step2}
                        li.step2
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/create-your-app.svg', alt='#{home.how.how_two.app_step1}', title='#{home.how.how_two.app_step1}')
                            .timeline-panel(data-aos='flip-up')
                                .timeline-heading
                                    h4.subheading
                                        span 3
                                        | !{home.how.how_two.app_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_two.app_step2}
                                    p.text-muted !{home.how.how_two.app_step3}
                        li.timeline-inverted.step4
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/timeline/we-publish-your-app.png', alt='#{home.how.how_four.publish_step1}', title='#{home.how.how_four.publish_step1}')
                            .timeline-panel(data-aos='flip-down')
                                .timeline-heading
                                    h4.subheading
                                        span 4
                                        | !{home.how.how_four.publish_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_four.publish_step2}
                                    p.text-muted !{home.how.how_four.publish_step3}
                                    p.text-muted
                                        a.modal-trigger(href='#free-trial', alt='#{home.how.how_one.reg_title}', title='#{home.how.how_one.reg_title}') #{home.how.how_one.reg_step5}
                                            i.icon.icon-left
    // SLIDER 2
    .slider.middle-page-slider
        .app-ready.center
            h4 #{home.slider.appready.title}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_01.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_02.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_03.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_04.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bg_05.jpg', alt='#{home.slider.appready.bg}', title='#{home.slider.appready.bg}')

    // CLIENTS :: new testimonial area
    include includes/showcases

block scripts

    // to load iframes with delay
    script(type='text/javascript').
        $(function () {
            setTimeout(function() {
                $(".slides [data-src]").each(function() {
                    var $this = $(this);
                    $this.attr('src', $this.attr('data-src'));
                });
                // restart slider
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
            }, 3000);
        });

    // TYPED PLUGIN JS
    script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
    script(type='text/javascript').
        $(function () {
            $(".element").typed({
                strings: !{JSON.stringify(home.slider.text)},
                typeSpeed: 100,
                startDelay: 200,
                backDelay: 2500,
                loop: true
            });
        });

    // CUSTOM JS
    script(type='text/javascript').
        $('.slider').slider({
            indicators: false,
            interval: 4000
        }).slider('pause');
