extend base/v2/base
block vars
   - var title = internal_server_error._meta_title
   - var description = internal_server_error._meta_description
   - var keywords = internal_server_error._keywords
   - var cssClass = 'internal_server_error'
block css
   link(rel='stylesheet', href='#{localConfig.base_path}/styles/error/error.css')

block content
   // 500 ERROR
   .page-not-found-bg.internal-server-error
       img.responsive-img(src='#{localConfig.base_path}/images/error/404_bg.jpg', title='#{internal_server_error.subtitle3}', alt='#{internal_server_error.subtitle3}')
   .container
      .col.s12.center-align.page-not-found-header.padBot50
         h4(data-text='500') #{internal_server_error.title}
         p #{internal_server_error.subtitle1}
            span &nbsp#{internal_server_error.subtitle2}
      .row.not-found-suggestions(data-aos='fade-up')
         .col.m10.offset-m1.s12
            p.strong500.padTop30.padBot30 #{internal_server_error.pre_advice}
            p.strong500.padTop30.padBot30 !{internal_server_error.suggestion}
block scripts