extend base/v2/base

block vars
    - var title = offer_marketing._meta_title
    - var description = offer_marketing._meta_description
    - var keywords = offer_marketing._keywords
    - var cssClass = 'offer'

block css

    // build:less(app) /styles/less/offer.css
    link(rel='stylesheet', href='/styles/less/offer/offer.less')
    // endbuild

block content
    script(type='text/javascript').
        $UPP.url = "#{offer_marketing._url}";

    section.bottom-space
        .container.offer-jobs
            h4.headTitles.text-center.padTop50 #{external.hiring_marketing.anchor}

            img.full(src="#{localConfig.base_path}/images/offer/office_marketing.jpg", data-aos='fade-down', title="#{external.hiring}", alt="#{external.hiring}")

            .intro.offer-jobs-text(data-aos='fade-right')
                each intro, i in offer_marketing.introduction
                    p #{intro}

            .technologies.offer-jobs-text(data-aos='fade-left')
                p #{offer_marketing.technologies.intro}
                ul
                    each tech, i in offer_marketing.technologies.list
                        li #{tech}
                p #{offer_marketing.technologies.note}

            .weoffer_marketing.offer-jobs-text(data-aos='fade-right')
                p #{offer_marketing.weoffer.intro}
                ul
                    each weoffer, i in offer_marketing.weoffer.list
                        li #{weoffer}

            .wewantyou.offer-jobs-text(data-aos='fade-left')
                p !{offer_marketing.wewanttomeetyou}

            .cheers.offer-jobs-text(data-aos='fade-up')
                each cheer, i in offer_marketing.cheers
                    p #{cheer}