extend base/v2/base

block vars
    - var title = offer._meta_title
    - var description = offer._meta_description
    - var keywords = offer._keywords
    - var cssClass = 'offer'

block css

    // build:less(app) /styles/less/offer.css
    link(rel='stylesheet', href='/styles/less/offer/offer.less')
    // endbuild

block content
    script(type='text/javascript').
        $UPP.url = "#{offer._url}";

    section.bottom-space
        .container.offer-jobs
            h4.headTitles.text-center.padTop50 #{external.hiring_developer.anchor}

            img.full(src="#{localConfig.base_path}/images/offer/office_dev.jpg", data-aos='fade-down', title="#{external.hiring}", alt="#{external.hiring}")

            .intro.offer-jobs-text(data-aos='fade-right')
                each intro, i in offer.introduction
                    p #{intro}

            .technologies.offer-jobs-text(data-aos='fade-left')
                p #{offer.technologies.intro}
                ul
                    each tech, i in offer.technologies.list
                        li #{tech}
                p #{offer.technologies.note}

            .weoffer.offer-jobs-text(data-aos='fade-right')
                p #{offer.weoffer.intro}
                ul
                    each weoffer, i in offer.weoffer.list
                        li #{weoffer}

            .wewantyou.offer-jobs-text(data-aos='fade-left')
                p !{offer.wewanttomeetyou}
                
            .cheers.offer-jobs-text(data-aos='fade-up')
                each cheer, i in offer.cheers
                    p #{cheer}