block vars
    - var title = ono._meta_title
    - var description = ono._meta_description
    - var keywords = ono._keywords
    - var cssClass = 'showcase'
doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]
    block vars
    head
        include base/scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")
        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='//upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='#{localConfig.base_path}/images/common/upplication_rrss.png')
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="#{localConfig.base_path}/images/common/upplication_rrss.png")
        link(type='text/plain', rel="author", href='#{localConfig.base_path}/humans.txt')
        link(rel="canonical", href="#{routing[_template][lang]}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        // end favicon
        link(rel="profile", href="//gmpg.org/xfn/11")

        link(rel='stylesheet', href='#{localConfig.base_path}/styles/vendor/vodafone.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/styles/ono/ono.css')

        meta(name='viewport', content='width=device-width, initial-scale=1')

    body(id="#{_template}", data-lang="#{lang}")
        .outer-wrap
            #main-container.slide-pannel.effects
                .header-container
                    header.container.padding-top
                        a.logo.margin-bottom(href='#{localConfig.base_path}')
                            img(src="#{localConfig.base_path}/images/ono/vodafone.png", title="#{home.vodafone.logo}", alt="#{home.vodafone.logo}")
                        a.icon-list
                            span Menu
                        
                        nav.main-menu.uppercase.unstyled
                            ul#sections
                                li.menu_txt
                                    p.uppercase.white #{header.menu}
                                li.change-lang.change-lang-menu
                                    each lang in langs.codes
                                        a.lang-link(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
                                li.login_btn
                                    a(href='#{external.nubo.url}') #{external.nubo.anchor}

            // SAMPLES :: app showcases
            include includes/samples

        script(type="text/javascript", src='#{localConfig.base_path}/scripts/vendor/vodafone.js')
        script(type="text/javascript", src='#{localConfig.base_path}/scripts/main.js')
