block vars
    - var title = $.ono._meta_title
    - var description = $.ono._meta_description
    - var keywords = $.ono._keywords
    - var cssClass = 'showcase'
doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]
    block vars
    head
        include base/scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")
        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='//upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='/images/upplication_rrss.png')
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="/images/upplication_rrss.png")
        link(type='text/plain', rel="author", href='#{localConfig.base_path}/humans.txt')
        link(rel="canonical", href="#{routing[_template][lang]}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        // end favicon
        link(rel="profile", href="//gmpg.org/xfn/11")
        link(rel='stylesheet', href='#{localConfig.base_path}/fonts/style.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/magnific-popup/dist/magnific-popup.css')

        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/materialize/dist/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.css')

        // build:css({.tmp, app}) /styles/ono.min.css
        link(rel='stylesheet', href='/styles/css/ono/ono.css')
        link(rel='stylesheet', href='/styles/css/ono/header_ono.css')
        link(rel='stylesheet', href='/styles/css/ono/materialize-reserts.css')
        link(rel='stylesheet', href='/styles/css/ono/common.css')
        link(rel='stylesheet', href='/styles/css/ono/mediaqueries.css')
        // endbuild

        meta(name='viewport', content='width=device-width, initial-scale=1')
        // webfonts
        link(href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic|Roboto+Slab:400,100,700', rel='stylesheet', type='text/css')

    body(id="#{_template}", data-lang="#{lang}")
        .outer-wrap
            #main-container.slide-pannel.effects
                .header-container.bg-vodafone-red
                    header.container.padding-top.bg-vodafone-red
                        a.logo.margin-bottom(href='#{localConfig.base_path}')
                            img(src="#{localConfig.base_path}/images/vodafone.png", alt="Upplication logo")

                        a.icon-list
                            span Menu
                        
                        nav.main-menu.uppercase.unstyled
                            ul#sections
                                li.menu_txt
                                    p.uppercase.white #{header.menu}
                                li.change-lang.change-lang-menu
                                    each lang in langs.codes
                                        a.lang-link(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
                                li.login_btn
                                    a(href='#{$.external.nubo.url}') #{$.external.nubo.anchor}

            // SAMPLES
            #tabs.container.scrollspy
                .row
                    .text-center
                        h4.headTitles #{home.samples.business}
                .section
                    .row
                        .col.s12
                            ul.tabs
                                li.tab.col.s6.l3
                                    a.active(href='#host')
                                        i.fa.fa-cutlery
                                        span #{home.samples.restaurants}
                                li.tab.col.s6.l3
                                    a(href='#tiendas')
                                        i.fa.fa-shopping-cart
                                        span #{home.samples.shops}
                                li.tab.col.s6.l3
                                    a(href='#servprof')
                                        i.fa.fa-wrench
                                        span !{home.samples.serv}
                                li.tab.col.s6.l3
                                    a(href='#personal')
                                        i.fa.fa-cog
                                        span #{home.samples.personal}
                        #host.col.s12
                            .row.padTop50
                                .col.s12.l4.mobileImg
                                    img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/iphone.png', alt='#{home.samples.alt_tag.img_iphone}')
                                .col.s12.l7.margTop50.mobileText
                                    h5 !{home.samples.rest.rest_intro}
                                    ul.uppOnFoot(type='circle')
                                        li
                                            a(href='')
                                                i.fa.fa-check
                                                !{home.samples.rest.details1}
                                        li
                                            a(href='')
                                                i.fa.fa-check
                                                !{home.samples.rest.details2}
                                        li
                                            a(href='')
                                                i.fa.fa-check
                                                !{home.samples.rest.details3}
                                        li
                                            a(href='')
                                                i.fa.fa-check
                                                !{home.samples.rest.details4}
                        #tiendas.col.s12
                            .row.padTop50
                                .col.s12.l4.mobileImg
                                    img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/nexus.png', alt='#{home.samples.alt_tag.img_nexus}')
                                .col.s12.l7.margTop50.mobileText
                                    h5 !{home.samples.shop.shop_intro}
                                        | .
                                    ul.uppOnFoot(type='circle')
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.shop.shop_details1}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.shop.shop_details2}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.shop.shop_details3}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.shop.shop_details4}
                        #servprof.col.s12
                            .row.padTop50
                                .col.s12.l4.mobileImg
                                    img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/galaxy.png', alt='#{home.samples.alt_tag.img_galaxy}')
                                .col.s12.l7.margTop50.mobileText
                                    h5 !{home.samples.services.serv_intro}
                                    ul.uppOnFoot(type='circle')
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.services.serv_details1}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.services.serv_details2}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.services.serv_details3}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.services.serv_details4}
                        #personal.col.s12
                            .row.padTop50
                                .col.s12.l4.mobileImg
                                    img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/sonyxperiaz3.png', alt='#{home.samples.alt_tag.img_xperia}')
                                .col.s12.l7.margTop50.mobileText
                                    h5 !{home.samples.custom.cust_intro}
                                    ul.uppOnFoot(type='circle')
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.custom.cust_details1}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.custom.cust_details2}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.custom.cust_details3}
                                        li
                                            a(href='#!')
                                                i.fa.fa-check
                                                !{home.samples.custom.cust_details4}
        
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zepto/zepto.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zeptojs/src/touch.js')

        // vendor js
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/materialize/dist/js/materialize.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js')
        // endvendor

        // build:js({.tmp,app}) /scripts/ono.min.js
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/scroll.js')
        script(type="text/javascript", src='/scripts/v2/cookies.js')
        script(type="text/javascript", src='/scripts/v2/register.js')
        script(type="text/javascript", src='/scripts/v2/lang.js')
        // endbuild
