extend base/v2/base

block vars
   - var title = prices._meta_title
   - var description = prices._meta_description
   - var keywords = prices._keywords
   - var cssClass = 'prices'

block css
   link(rel='stylesheet', href='#{localConfig.base_path}/styles/prices/prices.css')

block content

    //- MIXIN Declarations
    mixin webapp
        a(href='#', title='!{prices.rates.app_web}')
            i.icon.icon-desktop-alt
            i.icon.icon-android
            i.icon.icon-apple
            | !{prices.rates.app_web}


    //- CLIENTS
    .clients
        .container
            //- PRICING PLANS
            #pricing.pricing-tables.pricing-tables-mobile.scrollspy
                h4.headTitles.center-align #{prices.rates.rate_intro}
                .row
                    .col.s12.offset-m2.m8
                        ul.tabs
                            li.tab.col.s12.m6
                                a.active(href='#mensual', title='#{prices.rates.monthly}') !{prices.rates.monthly}
                            li.tab.col.s12.m6
                                a(href='#anual', title='#{prices.rates.yearly}') !{prices.rates.yearly}
                    //- Plan Mensual
                    #mensual.col.s12.m10.offset-m1
                        .col.s12.m4.mobile-prices(data-aos='fade-right')
                            .pricing-table-grid.center-img
                                h3 #{prices.rates.basic}
                                h5 #{prices.rates.subtitles.basic}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-copper.svg', alt='#{prices.rates.subtitles.basic}', title='#{prices.rates.subtitles.basic}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="9.95")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_month}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.statistics}')
                                            i.icon.icon-chart-line
                                            | !{prices.rates.statistics}
                                    li
                                        a(href='#', title='#{prices.rates.icons.bullhorn}')
                                            i.icon.icon-megaphone
                                            | !{prices.rates.bullhorn}
                                    li
                                        a(href='#', title='#{prices.rates.icons.sign}')
                                            i.icon.icon-pencil
                                            | !{prices.rates.sign}
                                    li
                                        a(href='#', title='#{prices.rates.icons.no_push}')
                                            i.icon.icon-paper-plane
                                            | !{prices.rates.no_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .col.s12.m4.mobile-prices(data-aos='flip-left')
                            img.responsive-img.best-seller(src='#{localConfig.base_path}/images/home/icons/badge_winner.svg', title='#{prices.rates.topsale}', alt='#{prices.rates.topsale}')
                            .pricing-table-grid.with-hover.center-img
                                h3 #{prices.rates.professional}
                                h5 #{prices.rates.subtitles.professional}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-silver.svg', alt='#{prices.rates.subtitles.professional}', title='#{prices.rates.subtitles.professional}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="29.95")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_month}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.statistics}')
                                            i.icon.icon-chart-line
                                            | !{prices.rates.statistics}
                                    li
                                        a(href='#', title='#{prices.rates.icons.bullhorn}')
                                            i.icon.icon-megaphone
                                            | !{prices.rates.no_bullhorn}
                                    li
                                        a(href='#', title='#{prices.rates.icons.no_sign}')
                                            i.icon.icon-pencil
                                            | !{prices.rates.no_sign}
                                    li
                                        a(href='#', title='#{prices.rates.icons.four_push}')
                                            i.icon.icon-paper-plane
                                            | !{prices.rates.four_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .col.s12.m4.mobile-prices(data-aos='flip-right')
                            .pricing-table-grid.pricing-table-custom.center-img
                                h3 #{prices.rates.premium}
                                h5 #{prices.rates.subtitles.premium}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-gold.svg', alt='#{prices.rates.subtitles.create}', title='#{prices.rates.subtitles.create}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="59.95")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_month}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.more}')
                                            i.icon.icon-ok
                                            | !{prices.rates.more}
                                    li
                                        a(href='#', title='#{prices.rates.icons.course}')
                                            i.icon.icon-book-open
                                            | !{prices.rates.course}
                                    li
                                        a(href='#', title='#{prices.rates.icons.sticker}')
                                            i.icon.icon-graduation-cap
                                            | !{prices.rates.sticker}
                                    li
                                        a(href='#', title='#{prices.rates.icons.all_push}')
                                            i.icon.icon-paper-plane-alt
                                            | !{prices.rates.all_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .clearfix
                    //- Plan Anual
                    #anual.col.s12.m10.offset-m1
                        .col.s12.m4.mobile-prices(data-aos='fade-right')
                            .pricing-table-grid.center-img
                                h3 #{prices.rates.basic}
                                h5 #{prices.rates.subtitles.basic}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-copper.svg', alt='#{prices.rates.subtitles.basic}', title='#{prices.rates.subtitles.basic}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="99.50")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_year}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.statistics}')
                                            i.icon.icon-chart-line
                                            | !{prices.rates.statistics}
                                    li
                                        a(href='#', title='#{prices.rates.icons.bullhorn}')
                                            i.icon.icon-megaphone
                                            | !{prices.rates.bullhorn}
                                    li
                                        a(href='#', title='#{prices.rates.icons.sign}')
                                            i.icon.icon-pencil
                                            | !{prices.rates.sign}
                                    li
                                        a(href='#', title='#{prices.rates.icons.no_push}')
                                            i.icon.icon-paper-plane
                                            | !{prices.rates.no_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .col.s12.m4.mobile-prices(data-aos='flip-left')
                            img.responsive-img.best-seller(src='#{localConfig.base_path}/images/home/icons/badge_winner.svg', title='#{prices.rates.topsale}', alt='#{prices.rates.topsale}')
                            .pricing-table-grid.with-hover.center-img
                                h3 #{prices.rates.professional}
                                h5 #{prices.rates.subtitles.professional}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-silver.svg', alt='#{prices.rates.subtitles.professional}', title='#{prices.rates.subtitles.professional}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="299.50")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_year}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.statistics}')
                                            i.icon.icon-chart-line
                                            | !{prices.rates.statistics}
                                    li
                                        a(href='#', title='#{prices.rates.icons.no_bullhorn}')
                                            i.icon.icon-megaphone
                                            | !{prices.rates.no_bullhorn}
                                    li
                                        a(href='#', title='#{prices.rates.icons.no_sign}')
                                            i.icon.icon-pencil
                                            | !{prices.rates.no_sign}
                                    li
                                        a(href='#', title='#{prices.rates.icons.four_push}')
                                            i.icon.icon-paper-plane
                                            | !{prices.rates.four_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .col.s12.m4.mobile-prices(data-aos='flip-right')
                            .pricing-table-grid.pricing-table-custom.center-img
                                h3 #{prices.rates.premium}
                                h5 #{prices.rates.subtitles.premium}
                                img(src='#{localConfig.base_path}/images/home/icons/rocket-gold.svg', alt='#{prices.rates.subtitles.create}', title='#{prices.rates.subtitles.create}')
                                ul
                                    li.price-container.price-currency-eur
                                        span
                                            span.price(data-price="599.50")
                                            em
                                                em.currency-image
                                                em #{prices.rates.per_year}
                                    li
                                        //- MIXIN Use
                                        +webapp
                                    li
                                        a(href='#', title='#{prices.rates.icons.more}')
                                            i.icon.icon-ok
                                            | !{prices.rates.more}
                                    li
                                        a(href='#', title='#{prices.rates.icons.course}')
                                            i.icon.icon-book-open
                                            | !{prices.rates.course}
                                    li
                                        a(href='#', title='#{prices.rates.icons.sticker}')
                                            i.icon.icon-graduation-cap
                                            | !{prices.rates.sticker}
                                    li
                                        a(href='#', title='#{prices.rates.icons.all_push}')
                                            i.icon.icon-paper-plane-alt
                                            | !{prices.rates.all_push}
                                a.order-btn(href='#free-trial', title='#{register.call_to_action}')
                                    | #{register.call_to_action}
                                    i.icon.icon-left.hover-anim
                        .clearfix
                        .col.s12
                            .alert.alert-info(role='alert')
                                span.monthless
                                    i.icon.icon-money
                                    | !{prices.rates.monthless}
                .row
                    .col.s12.m8.offset-m3.tax.currency-selector
                        p
                            i.icon.icon-asterisk
                            i.icon.icon-info
                            | #{prices.rates.choose_currency}
                            a(data-currency="EUR") EUR
                            a(data-currency="USD") USD
                            a(data-currency="MXN") MXN
                    .col.s12.m8.offset-m2.tax
                        p
                            i.icon.icon-asterisk
                            | !{prices.rates.with_tax}

                        p
                            i.icon.icon-info
                            | !{prices.rates.exchange_rate}
                        p
                            i.icon.icon-asterisk
                            i.icon.icon-asterisk
                            | !{prices.rates.appleStore}

                //- Common Features for all plans
                .plans-head.center-align
                    .row
                        .col.s12.m10.offset-m1.prices-common-features(data-aos='zoom-in')
                            p #{prices.rates.rate_sub}
                            ul
                                li
                                    img(src='#{localConfig.base_path}/images/home/icons/upp_circle-claim_support-girl.svg', title='#{prices.rates.sub1}', alt='#{prices.rates.sub1}')
                                    | !{prices.rates.sub1}
                                li
                                    img(src='#{localConfig.base_path}/images/home/icons/upp_circle-claim_markets-upload.svg', title='#{prices.rates.sub2}', alt='#{prices.rates.sub2}')
                                    | !{prices.rates.sub2}
                                li
                                    img(src='#{localConfig.base_path}/images/home/icons/upp_circle-claim_multidevice.svg', title='#{prices.rates.sub3}', alt='#{prices.rates.sub3}')
                                    | !{prices.rates.sub3}
                                li
                                    img(src='#{localConfig.base_path}/images/home/icons/upp_circle-claim_tutor-boy.svg', title='#{prices.rates.sub4}', alt='#{prices.rates.sub4}')
                                    | !{prices.rates.sub4}
                                li
                                    img(src='#{localConfig.base_path}/images/home/icons/upp_circle-claim_dashboard.svg', title='#{prices.rates.sub5}', alt='#{prices.rates.sub5}')
                                    | !{prices.rates.sub5}
                        .clearfix

block scripts
    script(type="text/javascript", src='#{localConfig.base_path}/bower_components/money.js/money.min.js')
