extends microsites/base.jade
block vars
    - var title = $.restaurants._meta_title
    - var description = $.restaurants._meta_description
    - var keywords = $.restaurants._keywords
    - var cssClass = 'restaurants'
block intro
    // INTRO (header and slider pic)
    .slider.slides-to-mobile
        .mainHead
            h1 #{restaurants.slider.intro1}
            h2 !{restaurants.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/microsites/microsites_bg_rest.jpg', title='#{restaurants.pic}', alt='#{restaurants.pic}')
        .dippah.skew-right
block features
    // FEATURES (Intro Tips)
    .features.features-upp
        .container
            .features-grids.text-center.animated.zoomIn
                .col-md-4
                    .features-grid.centerImg
                        i.icon.icon-calendar
                        span.f-icon
                        label
                        h3 !{restaurants.features.booking}
                .col-md-4
                    .features-grid.centerImg
                        i.icon.icon-push
                        span.f-icon1
                        label
                        h3 !{restaurants.features.notifications}
                .col-md-4
                    .features-grid.centerImg
                        i.icon.icon-delivery
                        span.f-icon2
                        label
                        h3 !{restaurants.features.delivery}
                .clearfix
    // MEET US (Team Pic and info data)
    .meet-us
        .col-sm-11.col-md-4.meet-us-paragraph.right
            .row.padd-25
                .col-md-8.meet-us-details
                    h4 !{restaurants.meet_us.title}
                    ul
                        li
                            p !{restaurants.meet_us.paragraph}
                        li
                            i.fa.fa-check
                            span !{restaurants.meet_us.tip_one}
                        li
                            i.fa.fa-check
                            span !{restaurants.meet_us.tip_two}
                        li
                            i.fa.fa-check
                            span !{restaurants.meet_us.tip_three}
                        li
                            i.fa.fa-check
                            span !{restaurants.meet_us.tip_four}
                    a.btn-call.btn-blue.animate-hover.hide-on-med-and-up(href='#{restaurants.meet_us.tel}', title='#{restaurants.meet_us.telephone}')
                        i.icon.icon-phone
                        span #{restaurants.meet_us.btn}
                    .meet-us-contact
                        p.meet-us-phone.hide-on-small-only
                            i.icon.icon-phone
                            span !{restaurants.meet_us.telephone}
                        a.meet-us-email(href='#{restaurants.meet_us.mailto}', title='#{restaurants.meet_us.email}')
                            i.icon.icon-mail
                            span !{restaurants.meet_us.email}
        .col-sm-12.col-md-8.meet-us-title.left
            img.responsive-img(src='#{localConfig.base_path}/images/microsites/marketing_team.jpg', title='#{restaurants.marketing_team}', alt='#{restaurants.marketing_team}')
        .clearfix
block scripts