extends microsites/base
block vars
    - var title = $.restaurants._meta_title
    - var description = $.restaurants._meta_description
    - var keywords = $.restaurants._keywords
    - var cssClass = 'restaurants'
block css
    // build:css({.tmp, app}) /styles/404.min.css
    link(rel='stylesheet', href='/styles/css/microsites/microsites.css')
    // endbuild
block content
    // SLIDER
    .slider.slides-to-mobile
        .mainHead
            h1 #{home.slider.intro1}
                .typed-effect
                    span.element
            h2 !{home.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/microsites/microsites_bg_rest.jpg', alt='#{restaurants.pic}')
        .dippah.skew-right
    // FORM "TRY FREE 15 DAYS" (DESKTOP - LAPTOP)
    .col-xs-12.col-md-5.right.formPhone.animated.fadeIn
        .row.registerTop
            .headReg
                h2 !{form.free_form}
            form(name="register", action="/register", method="post").col.s12
                input(type="hidden", name="customerType", value="UPPLICATION")
                p.error.general-error.display-none #{register.error.general}
                .row.marBot10
                    .input-field.col.s12
                        input#app_name.validate(type='text', name='appName', required)
                        label(for='app_name') #{form.input.name}
                            p.error.display-none.register-appName-error
                    .input-field.col.s12
                        input#email.validate(type='email', name='email', required)
                        label(for='email') #{form.input.email}
                            p.error.display-none.register-email-error
                    .input-field.col.s12
                        input#password.validate(type='password', name='password', required)
                        label(for='password') #{form.input.pass}
                            p.error.display-none.register-password-error
                .btnReg
                    button(type="submit", data-loading="#{register.loading}", data-text="#{register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                        i.material-icons.left.check #{icons.check}
                        span #{header.free_trial}
                    p #{form.change_form}
                    p #{modal.footer.accept}
                        a.terms-conditions(href='#{external.tos.url}', target='_blank', title='#{modal.footer.terms}') #{modal.footer.terms}
                        | .
    // FORM "TRY FREE 15 DAYS" (MOBILE - TABLET)
    .col-xs-10.col-xs-offset-1.formPhone-mobile.animated.fadeIn
        a.price-btn.modal-trigger(href='#pruebaGratis')
            i.fa.fa-cog.fa-spin
            span #{home.samples.free_app}
    // WHY (Intro Tips)
    .features.features-upp
        .container
            .features-grids.text-center.animated.zoomIn
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.png', alt='')
                        span.f-icon
                        label
                        h3 !{home.why.grow}
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.png', alt='')
                        span.f-icon1
                        label
                        h3 !{home.why.loyal}
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.png', alt='')
                        span.f-icon2
                        label
                        h3 !{home.why.others}
                .clearfix
block scripts