extends microsites/base.jade
block vars
    - var title = $.restaurants._meta_title
    - var description = $.restaurants._meta_description
    - var keywords = $.restaurants._keywords
    - var cssClass = 'restaurants'
block css
    // build:css({.tmp, app}) /styles/microsites.min.css
    link(rel='stylesheet', href='/styles/css/microsites/microsites.css')
    // endbuild
block intro
    // INTRO (header and slider pic)
    .slider.slides-to-mobile
        .mainHead
            h1 #{restaurants.slider.intro1}
            h2 !{restaurants.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/microsites/microsites_bg_rest.jpg', alt='#{restaurants.pic}')
        .dippah.skew-right
block features
    // FEATURES (Intro Tips)
    .features.features-upp
        .container
            .features-grids.text-center.animated.zoomIn
                .col-md-4
                    .features-grid.centerImg
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.png', alt='')
                        i.material-icons #{restaurants.features.icon.calendar}
                        span.f-icon
                        label
                        h3 !{restaurants.features.booking}
                .col-md-4
                    .features-grid.centerImg
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.png', alt='')
                        i.material-icons #{restaurants.features.icon.notifications}
                        span.f-icon1
                        label
                        h3 !{restaurants.features.notifications}
                .col-md-4
                    .features-grid.centerImg
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.png', alt='')
                        i.material-icons #{restaurants.features.icon.delivery}
                        span.f-icon2
                        label
                        h3 !{restaurants.features.delivery}
                .clearfix
    // MEET US (Team Pic and info data)
    .meet-us
        .col-sm-12.col-md-4.meet-us-paragraph.right
            .row
                .col-md-8.meet-us-details
                    h4 !{restaurants.meet_us.title}
                    p !{restaurants.meet_us.paragraph}
                    a.btn-call.btn-blue.animate-hover.hide-on-med-and-up(href='#{restaurants.meet_us.tel}', title='#{restaurants.meet_us.telephone}')
                        i.fa.fa-phone
                        span #{restaurants.meet_us.btn}
                    .meet-us-contact
                        p.meet-us-phone.hide-on-small-only
                            i.fa.fa-phone
                            span !{restaurants.meet_us.telephone}
                        a.meet-us-email(href='#{restaurants.meet_us.mailto}', title='#{restaurants.meet_us.email}')
                            i.fa.fa-envelope-o
                            span !{restaurants.meet_us.email}
        .col-sm-12.col-md-8.meet-us-title.left
            img.responsive-img(src='#{localConfig.base_path}/images/microsites/marketing_team.jpg', alt='#{restaurants.marketing_team}')
        .clearfix
block scripts