extend santander-totta/base/santander-base

block vars
    - var title = santander_totta._meta_title
    - var description = santander_totta._meta_description
    - var keywords = santander_totta._keywords
    - var cssClass = 'santander_totta'

block css
    link(rel='stylesheet', href='#{localConfig.base_path}/styles/santander-totta/santander-totta.css')

block content

    //- SLIDER
    .slider.slides-to-mobile
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/santander-totta//slider/hipster.jpg', alt='#{santander_totta.slider.img_01}', title='#{santander_totta.slider.img_01}')
        //- todo: add a few more images for this main slider
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgcoffeeshop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgservices.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')
            li
                img(src="#{localConfig.base_path}/images/common/pixel.jpg", data-src='#{localConfig.base_path}/images/home/bg/bgbarbershop.jpg', alt='#{home.slider.bg}', title='#{home.slider.bg}')

    //- MAIN CLAIM & REGISTER FORM (over top Slider)
    .register-area.container
        .main-clain-on-head(data-aos='fade-down-right')
            h2 #{santander_totta.slider.intro1}
                .typed-effect
                    span.element
            h1 !{santander_totta.slider.intro2}
            //- advice quotes about price, business types...
            .advice
                .price-since
                    div
                        each copy in santander_totta.slider.advice.price
                            span !{copy}
                    //- TODO: remove uselee code below cause for each above
                        span #{santander_totta.slider.advice.price.intro}
                        span #{santander_totta.slider.advice.price.price}
                        span #{santander_totta.slider.advice.price.currency}
                        span
                            | #{santander_totta.slider.advice.price.date}
                            i.icon.icon-asterisk
                    .price-advice
                        | #{santander_totta.slider.advice.mais.more}
                        a #{santander_totta.slider.advice.mais.link}
                .business-types
                    div
                        img(src='#{localConfig.base_path}/images/santander-totta/business/restaurants.png', title='#{santander_totta.business.restaurants}', alt='#{santander_totta.business.restaurants}')
                        span #{santander_totta.business.restaurants}
                    div
                        img(src='#{localConfig.base_path}/images/santander-totta/business/shops.png', title='#{santander_totta.business.shops}', alt='#{santander_totta.business.shops}')
                        span #{santander_totta.business.shops}
                    div
                        img(src='#{localConfig.base_path}/images/santander-totta/business/health.png', title='#{santander_totta.business.health}', alt='#{santander_totta.business.health}')
                        span #{santander_totta.business.health}
                    div
                        img(src='#{localConfig.base_path}/images/santander-totta/business/services.png', title='#{santander_totta.business.services}', alt='#{santander_totta.business.services}')
                        span #{santander_totta.business.services}
                    div
                        img(src='#{localConfig.base_path}/images/santander-totta/business/hostelry.png', title='#{santander_totta.business.hostelry}', alt='#{santander_totta.business.hostelry}')
                        span #{santander_totta.business.hostelry}
                p.advice-quote
                    i.icon.icon-asterisk
                    | #{santander_totta.slider.advice.quote}

        //- REGISTER panel :: "15 days free trial" (desktop - laptop)
        include santander-totta/includes/register

    //- CLAIM just below Sider (main Claim)
    .features.main-claim-totta
        .container(data-aos='fade-right')
            div
                span
                span
                span
                span
                .claim-wrapper
                    p !{santander_totta.claim}

    //- BUSINESS TYPES (samples and his tips)
    .features.features-totta
        .container
            .row.features-grids.center-align(data-aos='zoom-in')
                .col.s12
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/business/restaurants.png', title='#{santander_totta.business.restaurants}', alt='#{santander_totta.business.restaurants}')
                    h3 #{santander_totta.business.restaurants}
                    ul.tips !{santander_totta.business.tips.restaurants}
                .col.s12
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/business/shops.png', title='#{santander_totta.business.shops}', alt='#{santander_totta.business.shops}')
                    h3 #{santander_totta.business.shops}
                    ul.tips !{santander_totta.business.tips.shops}
                .col.s12
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/business/health.png', title='#{santander_totta.business.health}', alt='#{santander_totta.business.health}')
                    h3 #{santander_totta.business.health}
                    ul.tips !{santander_totta.business.tips.health}
                .col.s12
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/business/services.png', title='#{santander_totta.business.services}', alt='#{santander_totta.business.services}')
                    h3 #{santander_totta.business.services}
                    ul.tips !{santander_totta.business.tips.services}
                .col.s12
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/business/hostelry.png', title='#{santander_totta.business.hostelry}', alt='#{santander_totta.business.hostelry}')
                    h3 #{santander_totta.business.hostelry}
                    ul.tips !{santander_totta.business.tips.hostelry}
                .clearfix

    //- EXPLAIN (extended Claim)
    .features.expanded-claim-totta
        .container(data-aos='fade-left')
            p !{santander_totta.explain}

    //- PRICING PLANS (info & calls to action)
    .features.pricing-plans-totta
        .container
            .row.features-grids.center-align(data-aos='zoom-in')
                .col.s12.m4
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/pricing/pricing-plans-icon-grey.svg', title='#{santander_totta.pricing.basic.alt}', alt='#{santander_totta.pricing.basic.alt}')
                    h3 #{santander_totta.pricing.basic.title}
                    h5 #{santander_totta.pricing.basic.claim}
                    ul.price-plan-features
                        each feature in santander_totta.pricing.basic.features
                            li !{feature}
                    .price-plan-detail
                        ul !{santander_totta.pricing.basic.price}
                        //- TODO: to enable old CTA buttons
                            a(href='#free-trial', title='#{santander_totta.pricing.btn}') #{santander_totta.pricing.btn}
                .col.s12.m4
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/pricing/pricing-plans-icon-blue.svg', title='#{santander_totta.pricing.profissional.alt}', alt='#{santander_totta.pricing.profissional.alt}')
                    h3 #{santander_totta.pricing.profissional.title}
                    h5 #{santander_totta.pricing.profissional.claim}
                    ul.price-plan-features
                        each feature in santander_totta.pricing.profissional.features
                            li !{feature}
                    .price-plan-detail
                        ul !{santander_totta.pricing.profissional.price}
                        //- TODO: to enable old CTA buttons
                            a(href='#free-trial', title='#{santander_totta.pricing.btn}') #{santander_totta.pricing.btn}
                .col.s12.m4
                    img.img-responsive(src='#{localConfig.base_path}/images/santander-totta/pricing/pricing-plans-icon-gold.svg', title='#{santander_totta.pricing.premium.alt}', alt='#{santander_totta.pricing.premium.alt}')
                    h3 #{santander_totta.pricing.premium.title}
                    h5 #{santander_totta.pricing.premium.claim}
                    ul.price-plan-features
                        each feature in santander_totta.pricing.premium.features
                            li !{feature}
                    .price-plan-detail
                        ul !{santander_totta.pricing.premium.price}
                        //- TODO: to enable old CTA buttons
                            a(href='#free-trial', title='#{santander_totta.pricing.btn}') #{santander_totta.pricing.btn}

    //- FOOTER :: Copyright & Legal Terms
    footer.page-footer
        .footer-copyright
            .container
                span
                    i.icon.icon-copyright
                    | #{santander_totta.footer.brand_copy},
                    span#js-current-year
                a.by(rel='nofollow', href='#{santander_totta.footer.partners.url}', target='_blank', title='#{santander_totta.footer.partners.title}') #{santander_totta.footer.partners.title}
                i.icon.icon-dot
                a.legal(rel='nofollow', href='#{santander_totta.footer.legal.url}', title='#{santander_totta.footer.legal.title}') #{santander_totta.footer.legal.title}
                i.icon.icon-dot
                em #{santander_totta.footer.signature}

block scripts

    //- to load iframes with delay
    script(type='text/javascript').
        $(function () {
            setTimeout(function() {
                $(".slides [data-src]").each(function() {
                    var $this = $(this);
                    $this.attr('src', $this.attr('data-src'));
                });
                //- restart slider
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
            }, 3000);
        });

    //- TYPED PLUGIN JS
    script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
    script(type='text/javascript').
        $(function () {
            $(".element").typed({
                strings: !{JSON.stringify(santander_totta.slider.text)},
                typeSpeed: 100,
                startDelay: 200,
                backDelay: 2500,
                loop: true
            });
        });

    //- CUSTOM JS
    script(type='text/javascript').
        $(document).ready(function () {
            $('.slider').slider({
                indicators: false,
                interval: 4000
            }).slider('pause');
        });
