extend microsites/base.jade
block vars
    - var title = shops._meta_title
    - var description = shops._meta_description
    - var keywords = shops._keywords
    - var cssClass = 'shops'
block intro
    // INTRO (header and slider pic)
    .slider.slides-to-mobile
        .mainHead
            h2 !{shops.slider.intro1}
            h1 !{shops.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/microsites/microsites_bg_shop.jpg', title='#{shops.pic}', alt='#{shops.pic}')
        .dippah.skew-left
block features
    // FEATURES (Intro Tips)
    .features.features-upp
        .container
            .features-grids.row.text-center(data-aos='zoom-in')
                .col.s12.m4
                    .features-grid.centerImg.no-padd
                        i.icon.icon-ecommerce
                        h3 !{shops.features.booking}
                .col.s12.m4
                    .features-grid.centerImg.no-padd
                        i.icon.icon-push
                        h3 !{shops.features.notifications}
                .col.s12.m4
                    .features-grid.centerImg.no-padd
                        i.icon.icon-loyalty
                        h3 !{shops.features.delivery}
                .clearfix
    // MEET US (Team Pic and info data)
    .meet-us.row
        .col.s11.m4.meet-us-paragraph.right(data-aos='zoom-in-left')
            .row.padd-25
                .col.m11.meet-us-details
                    h4 !{shops.meet_us.title}
                    p !{shops.meet_us.paragraph}
                    a.btn-call.btn-blue.animate-hover.hide-on-med-and-up(href='#{shops.meet_us.tel}', title='#{shops.meet_us.telephone}')
                        i.icon.icon-phone
                        span #{shops.meet_us.btn}
                    .meet-us-contact
                        p.meet-us-phone.hide-on-small-only
                            i.icon.icon-phone
                            span !{shops.meet_us.telephone}
                        a.meet-us-email(href='#{shops.meet_us.mailto}', title='#{shops.meet_us.email}')
                            i.icon.icon-mail
                            span !{shops.meet_us.email}
        .col.s12.m8.meet-us-title.left(data-aos='zoom-in-up')
            img.responsive-img(src='#{localConfig.base_path}/images/microsites/marketing_team.jpg', title='#{shops.marketing_team}', alt='#{shops.marketing_team}')
        .clearfix
block scripts