extends microsites/base.jade
block vars
    - var title = $.shops._meta_title
    - var description = $.shops._meta_description
    - var keywords = $.shops._keywords
    - var cssClass = 'shops'
block css
    // build:css({.tmp, app}) /styles/microsites.min.css
    link(rel='stylesheet', href='/styles/css/microsites/microsites.css')
    // endbuild
block intro
    // INTRO (header and slider pic)
    .slider.slides-to-mobile
        .mainHead
            h1 #{shops.slider.intro1}
            h2 !{shops.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/microsites/microsites_bg_rest.jpg', alt='#{shops.pic}')
        .dippah.skew-left
block features
    // FEATURES (Intro Tips)
    .features.features-upp
        .container
            .features-grids.text-center.animated.zoomIn
                .col-md-4
                    .features-grid.centerImg.no-padd
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.png', alt='')
                        i.icon.icon-basket
                        span.f-icon
                        label
                        h3 !{shops.features.booking}
                .col-md-4
                    .features-grid.centerImg.no-padd
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.png', alt='')
                        i.icon.icon-basket
                        span.f-icon1
                        label
                        h3 !{shops.features.notifications}
                .col-md-4
                    .features-grid.centerImg.no-padd
                        // img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.png', alt='')
                        i.icon.icon-basket
                        span.f-icon2
                        label
                        h3 !{shops.features.delivery}
                .clearfix
    // MEET US (Team Pic and info data)
    .meet-us
        .col-sm-12.col-md-4.meet-us-paragraph.right
            .row
                .col-md-9.meet-us-details
                    h4 !{shops.meet_us.title}
                    p !{shops.meet_us.paragraph}
                    a.btn-call.btn-blue.animate-hover.hide-on-med-and-up(href='#{shops.meet_us.tel}', title='#{shops.meet_us.telephone}')
                        i.icon.icon-phone
                        span #{shops.meet_us.btn}
                    .meet-us-contact
                        p.meet-us-phone.hide-on-small-only
                            i.icon.icon-phone
                            span !{shops.meet_us.telephone}
                        a.meet-us-email(href='#{shops.meet_us.mailto}', title='#{shops.meet_us.email}')
                            i.icon.icon-mail
                            span !{shops.meet_us.email}
        .col-sm-12.col-md-8.meet-us-title.left
            img.responsive-img(src='#{localConfig.base_path}/images/microsites/marketing_team.jpg', alt='#{shops.marketing_team}')
        .clearfix
block scripts