section#selector
    div.container
        div.fade-left
        div.app-categories
            ul
                each category in showcase.categories
                    li
                        span(class="#{category.icon_class}", data-category="#{category.name}")
        div.fade-right
        div.position-arrow

section#showcase.min-bottom-space.min-top-space.dark-bg
    div.container
        button.slider-btn.prev-btn
            span(class="icon-arrow-left")
        button.slider-btn.next-btn
            span(class="icon-arrow-right")

        div#showcase-items.clearfix
            each category, i in showcase.categories
                div(class=i === 0 ? "showcase-item clearfix" : "showcase-item clearfix hidden", data-category="#{category.name}")
                    div.info-container
                        h2 #{category.title}
                        p #{category.description}

                        ul.features
                            each feature in category.features
                                li
                                    span.plus-icon +
                                    span #{feature}

                        ul.operating-systems
                            li
                                a(href="#{category.url}", target="_blank")
                                    span.icon-html5
                            li
                                a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                    span.icon-ios
                            li
                                a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                    span.icon-android

                    div.phone-container.small
                        img(src="/images/sample_apps/#{category.name}.png", alt="#{category.title}")