
div#signup-screen.closed
    div.signup-screen-container.padding-top-4x.padding-bottom-4x
        a#signup-close.btn-signup-close(href="#") !{signup.close}

        div.signup-header
            img.inline-block(src="#{localConfig.base_path}/images/upplication.png", alt="Upplication")

            p.big.right.inline-block.padding-top-2x !{signup.signup_free}

        form#signup-form.acenter(name="signup")
            div.field.clearfix
                input(type="text", name="appName", placeholder="#{home.register.app_name}", required="required", minlength="3", maxlength="32", pattern="^[a-zA-Z]{1}[a-zA-Z0-9 ]{2,}", title="#{home.register.warning.name}")
                p.error.display-none(data-for="appName")
                    //| El nombre de la app ya está registrado
            div.field.clearfix
                input(type="email", name="email", placeholder="#{home.register.email}", required="required")
                p.error.display-none(data-for="email")
                    //| El usuario ya está registrado
            div.field.clearfix
                input(type="password", name="password", placeholder="#{home.register.password}", required="required", title="#{home.register.warning.password}", pattern=".{8,}")
                p.error.display-none(data-for="password")
                    //| La contraseña debe contener al menos 6 caracteres
            div#app-seller.field.clearfix.closed
                input#seller-input(type="seller", name="seller", placeholder="#{signup.seller_code}", title="#{signup.warning_seller}")
                p.error.display-none(data-for="seller")
                    //| Seller code
            div.field.clearfix
                input.green-accent-btn.btn.bold.big(type="submit", value="#{home.register.call_to_action}", data-loading="#{home.register.loading}", data-text="#{home.register.call_to_action}")
                p.tos.acenter !{home.register.accept_terms} 
                    a.accent-green(href="#{external.tos.url}") #{home.register.terms}

            a#seller-code.seller-code.accent-green.right(href="#", alt="#{signup.have_a_code}") #{signup.have_a_code}
            a#without-seller-code.seller-code.accent-green.acenter.padding-top-4x.display-none(href="#", alt="#{signup.dont_have_a_code}") #{signup.dont_have_a_code}