extend base/v2/base

block vars
    - var title = terms._meta_title
    - var description = terms._meta_description
    - var keywords = terms._keywords
    - var cssClass = 'terms'

block css
    link(rel='stylesheet', href='#{localConfig.base_path}/styles/terms/terms.css')

block content

    //- TERMS & CONDITIONS
    .col.s12.center-align.legal
        #legal.about.scrollspy
            .about-grids
                .container
                    .terms-grid.about-left-grids
                        h4.headTitles.head-terms !{terms.legal.title}
                        each paragraph in terms.legal.paragraphs
                            p(data-aos='fade-up') !{paragraph}
                        h4#privacidad.headTitles.head-terms.scrollspy !{terms.privacy.title}
                        each paragraph in terms.privacy.paragraphs
                            p(data-aos='fade-up') !{paragraph}
                        h4#uso.headTitles.head-terms.scrollspy !{terms.general.title}
                        each subsection in terms.general.subsections
                            h5 !{subsection.title}
                            each paragraph in subsection.paragraphs
                                p(data-aos='fade-up') !{paragraph}
                        h4#cookies-policy.headTitles.head-terms.scrollspy !{terms.cookies.title}
                        each subsections in terms.cookies.subsections
                            h5 !{subsections.title}
                            each paragraph in subsections.paragraphs
                                p(data-aos='fade-up') !{paragraph}
                        h4#dashboard-policy.headTitles.head-terms.scrollspy !{terms.dashboard.title}
                            each subsections in terms.dashboard.subsections
                                h5 !{subsections.title}
                                each paragraph in subsections.paragraphs
                                    p(data-aos='fade-up') !{paragraph}
