block vars
    - var template = $.home._template
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var canonical = $.home._canonical
    - var cssClass = 'home'

doctype html

//if lt IE 7
  <html class="ie ie6 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 7
  <html class="ie ie7 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 8
  <html class="ie ie8 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 9
  <html class="ie ie9 no-js" lang="#{lang}" data-lang="#{lang}">
// [if gt IE 9] <!
html.no-js(lang='#{lang}', data-lang="#{lang}")
    // <![endif]
    head
        include base/scripts
        title Upplication : Build your App
        meta(name='description', content='Upplication® Crear app, tu propia app móvil online. Prueba GRATIS durante 15 días, sin necesidad de programación en cuestión de minutos. Tu app para Android e iOS')
        meta(name='keywords', content='crear app, como crear tu app, crear app android, crear app iphone, crear aplicacion, crear app online, crear app movil')
        meta(name='author', content='Upplication Software Technologies, S.L.')
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='#{localConfig.base_path}/images/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='#{localConfig.base_path}/images/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='#{localConfig.base_path}/images/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='msapplication-TileImage', content='#{localConfig.base_path}/images/favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')

        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/materialize/dist/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.css')

        // build:css({.tmp, app}) /styles/home.min.css
        link(rel='stylesheet', href='/styles/css/home/materialize-reserts.css')
        link(rel='stylesheet', href='/styles/css/home/style.css')
        link(rel='stylesheet', href='/styles/css/home/upp.css')
        link(rel='stylesheet', href='/styles/css/home/legal.css')
        link(rel='stylesheet', href='/styles/css/home/modals.css')
        link(rel='stylesheet', href='/styles/css/home/footer.css')
        link(rel='stylesheet', href='/styles/css/home/cookies.css')
        link(rel='stylesheet', href='/styles/css/home/mediaqueries.css')
        // endbuild
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // webfonts
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic|Roboto+Slab:400,100,700', rel='stylesheet', type='text/css')

    body
        // MAIN HEADER
        #home.header
            #move-top.top-header
                .container
                    .logo
                        a(href='index.html')
                            img(src='#{localConfig.base_path}/images/home/icons/upplication.png', title='Upplication logo')
                    nav.top-nav
                        ul.top-nav.hide-ul
                            li
                                each language in langs.codes
                                    if lang == language.language_country
                                        a.lang-link(href="#", data-activates='dropdown-lang')
                                            i.fa.fa-globe
                                            | !{language.language_short_code}
                                ul#dropdown-lang.dropdown-content
                                    each lang in langs.codes
                                        a.hide-tab.lang-link(href="#{routing[template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_name}
                            li
                                a.hide-tab(href='#about', title='') #{header.nav.how}
                            li
                                a.hide-tab(href='#tabs', title='') #{header.nav.apps}
                            li
                                a.hide-tab(href='#pricing', title='') #{header.nav.prices}
                            li
                                a.hide-tab(href='http://www.upplication.com/blog/', target='_blank', title='') #{external.blog.anchor}
                            li.only-show-small-devises.phone-kerning
                                a #{header.telephone}
                            li.only-show-small-devises
                                a.modal-trigger(href='#pruebaGratis', title='') #{header.free_trial}
                            li.enter-bold
                                a.hide-tab(href="#{$.external.dashboard.url}")
                                    i.fa.fa-lock
                                    | #{header.enter}
                        a#pull(href='')
                            img(src='#{localConfig.base_path}/images/home/icons/nav-icon.png', title='menu')
                    .contact-info
                        .contact-info-grids
                            .contact-info-left
                                a.chat.modal-trigger(href='#pruebaGratis') #{header.free_trial}
                            .contact-info-right
                                a #{header.telephone}
                                a.support(href='#{helpcenter.customer_service.email.link}', title='#{helpcenter.customer_service.email.alt_tag}') #{helpcenter.customer_service.email.title}
                            .clearfix
                    .clearfix
        // MODAL PRUEBA GRATIS
        #pruebaGratis.modal
            include ./includes/modal-free.jade
        // MODAL CONTACT
                #allContact.modal
                    a.modal-action.modal-close.waves-effect.waves-green.btn-flat
                        i.fa.fa-close
                    .modal-content
                        h2 #{modal.head.contact_modal}
                        .row
                            ul.rrss.right.hover-anim
                               li.facebook
                                   a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
                                      i.fa.fa-facebook
                               li.twitter
                                   a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
                                      i.fa.fa-twitter
                               li.instagram
                                   a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
                                      i.fa.fa-instagram
                               li.youtube
                                   a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
                                      i.fa.fa-youtube-play
                               li.linkedin
                                   a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
                                     i.fa.fa-linkedin
                               li.google
                                  a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
                                     i.fa.fa-google-plus
                    .modal-terms
                        ul.hover-anim
                            li
                                a(href='#{external.tos.url}') #{modal.footer.seller}
                            li
                                | #{modal.footer.accept}
                                a(href='#{external.tos.url}', target='_blank', title='#{modal.footer.terms}') #{modal.footer.terms}
                                | .
        // TERMS & CONDITIONS
        .col.s12.text-center.legal
            #legal.about.scrollspy
              .about-grids
                .container
                  .about-left-grids
                    h4 Aviso Legal
                    p
                      | En cumplimiento con el deber de información recogido en el artιculo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, le informamos que la URL www.upplication.com (en adelante el PORTAL) es un dominio propiedad de UPPLICATION SOFTWARE TECHNOLOGIES, S.L. (en adelante la ENTIDAD), con domicilio sito en Glorieta Quevedo 7, 4º Izquieda, 28015 (Madrid), con C.I.F. nº B86569654.
                    p
                      | Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el PORTAL son propiedad de la ENTIDAD o de terceros, sin que pueda entenderse que el uso o acceso al sitio y/o a los servicios, atribuya al usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o signos distintivos.
                    p
                      | Asimismo, los contenidos publicados en la web, su diseño gráfico, imágenes, bases de datos y código fuente son propiedad intelectual de la ENTIDAD o de terceros, sin que puedan entenderse cedidos al usuario, en virtud de lo establecido en este Aviso Legal, ninguno de los derechos de explotación que existen o puedan existir sobre dichos contenidos más allá de lo estrictamente necesario para el correcto uso del PORTAL y de los servicios que se prestan a través de él.
                    p
                      | El acceso a este web site es responsabilidad exclusiva de los usuarios. El simple acceso al PORTAL no supone entablar ningún tipo de relación de carácter comercial entre la ENTIDAD y el usuario. Accediendo a él acepta los términos y condiciones descritos en el PORTAL.
                    h4#privacidad.scrollspy Política de Privacidad
                    p
                      | Esta política se aplica al sitio web www.upplication.com (en adelante el PORTAL) y a todos los servicios y productos ofrecidos en Internet por UPPLICATION SOFTWARE TECHNOLOGIES, S.L. (en adelante, la ENTIDAD). El presente documento resume el tipo de información personal que recibe y recopila la Entidad cuando se utilizan los servicios de la página web.
                    p
                      | Se prevé la utilización de cookies, log, enlaces y otras tecnologías para almacenar las preferencias del usuario con el fin de mejorar la calidad de nuestros servicios, asegurar el funcionamiento técnico de la red, y desarrollar nuevas y mejores prestaciones. Si se desactivan o rechazan las cookies, puede ocurrir que algunas de las funciones y/o servicios del PORTAL no funcionen adecuadamente.
                    p
                      | En cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, por el que se regula el derecho de información en la recogida de datos, le informamos de que sus datos personales serán incorporados a un Fichero de Datos de Carácter Personal, titularidad de UPPLICATION SOFTWARE TECHNOLOGIES, S.L. como Responsable del Fichero, con la finalidad de mantener nuestras relaciones contractuales, comerciales y profesionales que nos unen a Ud., así como para el envío de comunicaciones postales, telemáticas, o por otros medios, con ocasión de acontecimientos puntuales, o en ciertos periodos del año, que puedan ser de interés para el afectado.
                    p
                      | Asimismo, UPPLICATION SOFTWARE TECHNOLOGIES, S.L. garantiza al titular de los datos el ejercicio de los derechos de acceso, rectificación, cancelación y oposición de los datos que le conciernen, debiendo, para ello, dirigirse mediante comunicación escrita a la siguiente dirección: Glorieta Quevedo 7, 4º Izquieda, 28015 (Madrid). . En cualquier caso, el titular de los datos resulta informado y consiente en la conservación de dichos datos bajo las debidas condiciones de seguridad y secreto profesional, por el período que resulte necesario para la finalidad para la que son recabados.
                    p
                      | El PORTAL no ejerce control sobre los sitios web mostrados como resultado de su búsqueda, enlaces o accesos desde nuestro directorio. Estos otros sitios web pueden colocar sus propias cookies o solicitarle información personal.
                    p
                      | La ENTIDAD informa a los Usuarios Registrados en su caso de la posibilidad de ejercitar los derechos de acceso, cancelación, rectificación y oposición respecto de sus datos de carácter personal que constan en los ficheros de la ENTIDAD, mediante comunicación escrita acompañada de una fotocopia del D.N.I. dirigida a UPPLICATION SOFTWARE TECHNOLOGIES, S.L., a la siguiente dirección: Glorieta Quevedo 7, 4º Izquieda, 28015 (Madrid). Estos ficheros se encuentran debidamente inscritos en el Registro de la Agencia Española de Protección de Datos y cumplen las Medidas de Seguridad requeridas por el Real Decreto1720/2007.
                    p
                      | Los citados usuarios sólo están autorizados al uso del PORTAL previa aceptación y cumplimiento de las condiciones aquí recogidas, debiendo abandonar el sitio en caso contrario.
                    h4#uso.scrollspy Condiciones generales de uso de la página web
                    h5 1. Identificación de las partes:
                    p
                      | Las presentes Condiciones Generales de uso de los servicios ofrecidos en la URL www.upplication.com (en adelante el PORTAL) son suscritas, por el titular del dominio, UPPLICATION SOFTWARE TECHNOLOGIES, S.L. cuyo correo electrónico de contacto es: hello@upplication.com
                    p
                      | Se considera USUARIO, a las personas físicas con capacidad para suscribir válidamente un contrato de acuerdo con la ley aplicable.
                    p
                      | Ud. no podrá utilizar el sitio web y no podrá aceptar las Condiciones si:
                      ul.unorder-list
                          li
                            i.fa.fa-circle
                            | No es mayor de edad y no puede formalizar un contrato vinculante conforme a derecho,
                          li
                            i.fa.fa-circle
                            | No reviste la calidad de USUARIO según lo expuesto.
                    h5 2. Perfeccionamiento del acuerdo:
                    p
                      | Para utilizar el PORTAL, deben aceptarse las presentes condiciones generales (en adelante, las Condiciones), así como aquellas estipulaciones particulares recogidas para la utilización y/o contratación de servicios concretos. En caso contrario, deberá abandonarse el PORTAL.
                    p
                      | Ud. podrá aceptar las Condiciones: haciendo clic en el botón de aceptación de las Condiciones, cuando se le ofrezca esta opción en la interfaz de usuario; o
                      | utilizando de forma efectiva el sitio web. Ud. reconoce y acepta que, la utilización del PORTAL se considerará como una aceptación de las Condiciones.
                    p
                      | Se aconseja al USUARIO leer con detenimiento las presentes condiciones. Podrá guardarlas o imprimirlas si así lo desea.
                    h5 3. Ámbito de aplicación:
                    p
                      | Las presentes condiciones generales serán de aplicación a todos los servicios/productos recogidos en la web
                      span.upp-green www.upplication.com
                    h4#cookies.scrollspy Política de Cookies
                    h5 1. Cómo y por qué usamos cookies:
                    p
                      | UPPLICATION SOFTWARE TECHNOLOGIES S.L (En adelante UPPLICATION) utiliza cookies dentro sus sitios web (upplication.com,y cualquier subdominio perteneciente al mismo) para ofrecer el sitio web más eficaz posible a nuestros clientes. Entre otras cosas, las cookies permiten recordar las preferencias y el uso de determinadas herramientas y secciones de nuestra web. Esta Política de Cookies explica qué son las cookies, cómo las usamos y cómo te beneficiarán. Como posiblemente sepas, la reciente legislación exige que los sitios web obtengan el consentimiento de los visitantes para utilizar ciertas cookies.
                    p
                      | UPPLICATION hace uso de las cookies con el objetivo de poder medir el comportamiento de los usuarios tanto en nuestra web (upplication.com) como en cualquier subdominio, como bien se ha mencionado anteriormente. Gracias a la analítica somos capaces de optimizar la experiencia de nuestro usuario dentro de la herramienta.
                    p
                      | Los datos obtenidos son sacados gracias al software Google Analitycs. Este gestor trata los datos obtenidos y UPPLICATION solo tiene acceso a los mismos. Estos datos son de carácter confidencial y nunca se cederán a otra empresa. Sólo se tratarán a nivel interno y estarán vigilados bajo los niveles de seguridad que establece la ley.
                    h5 2. Cómo se pueden gestionar las cookies:
                    p
                      | Los navegadores de la mayoría de ordenadores, teléfonos inteligentes y otros dispositivos habilitados para visualizar un sitio Web suelen estar configurados para aceptar cookies. Si deseas modificar tus preferencias de cookies en este sitio web o en cualquier otro, puedes hacerlo a través de la configuración del navegador. La función "ayuda" de tu navegador te dirá cómo hacerlo. Te recordamos que si decides bloquear el uso de determinadas cookies en tu navegador de nuestro sitio web puede afectar al funcionamiento del mismo.
                    p
                      | Siempre que visites uno de nuestros sitios web las jurisdicciones locales nos obligan a pedir tu consentimiento para establecer cookies en el dispositivo, siempre te preguntaremos antes de establecer una cookie mediante un banner en la parte inferior de la pantalla, que desaparecerá a los 7 segundos después de su aparición. Trascurrido ese tiempo automáticamente estarás aceptando las cookies establecidas con tu dispositivo.
                  // SIDE COLUMN :: ABOUT US
                  .about-right-grids
                    .bg-cream
                        img.materialboxed(width='650', src='#{localConfig.base_path}/images/home/bg/about_us.jpg', title='Upplication Team')
                        .latest-news
                          h4 Sobre Nosotros
                          .latest-news-grids
                            .latest-news-grid
                              p
                                strong Upplication es una startup
                                |  con sede en Madrid (España)
                                strong que nació en 2012
                                | . El equipo es de 12 personas.
                              p
                                | La herramienta se estrenó en fase beta en octubre de 2013:
                                strong un creador de apps para
                                |  que
                                strong cualquier negocio
                                |  pueda crearse una app móvil (eliminando la barrera tecnológica), en menos de 10 minutos (poniendo fin a procesos largos), bajo su control (do it yourself) y a menor coste (por menos de 5 euros/7 dólares al mes).
                              p
                                | La clave de la tecnología que ha desarrollado Upplication es
                                strong el panel de administración de la app
                                | ,
                                strong sencillo e intuitivo
                                | , por eso
                                strong el proceso de creación y gestión es rápido y fácil
                                | . El resultado es una aplicación móvil de la misma calidad que cualquiera que podemos encontrar en un mercado de apps móviles como App Store o Google Play.
                              p
                                | La plataforma pone al alcance de cualquier negocio vender sus productos en dispositivos móviles, M-Commerce. Hasta la fecha, 4.000 negocios han elegido Upplication para acoplar su PYME al móvil.
                    .bg-white
                        img.app-sample(src='#{localConfig.base_path}/images/home/bg/nexus.png', title='Upplication App sample')
                  .clearfix
        // CLIENTS
        .clients
            .container
                // CLIENTS TESTIMONIALS
                .c-testmonials
                    .text-center.marBot100
                        h4.headTitles #{home.testimonials.title}
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client1.cite}
                            a(href='#{home.testimonials.client1.url}', target='_blank', title='#{home.testimonials.client1.name}') - #{home.testimonials.client1.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/ana.png', title='name')
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client2.cite}
                            a(href='#{home.testimonials.client2.url}', target='_blank', title='#{home.testimonials.client2.name}') - #{home.testimonials.client2.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/david.png', title='name')
                    .c-testmonial-grid
                        .c-testmonial-grid-info
                            p
                                span #{home.testimonials.client3.cite}
                            a(href='#{home.testimonials.client3.url}', target='_blank', alt='#{home.testimonials.client3.name}') - #{home.testimonials.client3.name}
                        .c-testmonial-grid-pic
                            img(src='#{localConfig.base_path}/images/home/clients/gabriel.png', title='name')
        // CLIENTS CAROUSEL
        .clientSection
            .container
                #clientsCarousel
                    .item
                        a(href='http://www.abc.es/tecnologia/moviles-aplicaciones/20140315/abci-upplication-wordpress-creacion-201403141400.html', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/abc.png', alt='ABC logo')
                    .item
                        a(href='http://www.eleconomista.es/interstitial/volver/consejo/emprendedores-innova/noticias/5498091/01/14/Upplication-permite-crear-una-aplicacion-movil-por-menos-de-5-euros-al-mes.html', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/eleconomista.png', alt='El Economista logo')
                    .item
                        a(href='http://www.forbes.es/actualizaciones/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/forbes.png', alt='Forbes logo')
                    .item
                        a(href='http://www.efeempresas.com/noticia/nace-upplication-startup-permite-crear-propia-aplicacion-movil-efeempresas/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/emprende.png', alt='Emprende logo')
                    .item
                        a(href='http://blogthinkbig.com/upplication-post-pc/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/telefonica.png', alt='Telefónica logo')
                    .item
                        a(href='http://www.ticbeat.com/pymes/servicios-crear-app-de-tu-negocio-sin-programar/', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/ticbeat.png', alt='TicBeat logo')
                    .item
                        a(href='http://wwwhatsnew.com/2013/10/21/upplication-para-crear-apps-de-comercio-electronico-sin-saber-programar', target='_blank', title='')
                            img(src='#{localConfig.base_path}/images/home/clients/wwwhatsnew.png', alt='wwwhatsnew logo')
        // 15 DAYS TRIAL BUTTOM
        .pricing-plan
            .container
                .pricing-plan-grids
                    .pricing-plan-left
                        h2 !{footer.try_it}
                        span #{home.permanence}
                    .pricing-plan-right
                        a.price-btn.modal-trigger(href='#pruebaGratis') #{header.free_trial}
                    .clearfix
        // COSTUMERS SERVICES CONTACT AREA
        .servCliente
            .container
                .col.s12
                    ul
                        li
                            a #{helpcenter.customer_service.text2}
                        li.tel.hover-anim
                            a(href='#{helpcenter.customer_service.phone.link}', title='#{helpcenter.customer_service.phone.alt_tag}')
                                i.icon-phone
                                | !{helpcenter.customer_service.phone.text_tel}
                        li.mail.hover-anim
                            a(href='#{helpcenter.customer_service.email.link}', title='#{helpcenter.customer_service.email.alt_tag}')
                                i.icon-envelope
                                | #{helpcenter.customer_service.email.title}
        // FOOTER
        footer.page-footer
            .container.padTop50.padBot50
                .row.hover-anim
                    .col.l3.s12.footCol
                        h6 #{external.titles.help}
                        ul.footLinks
                            li
                                a(href='#{external.helpcenter.url}', title='#{external.helpcenter.anchor}') #{external.helpcenter.anchor}
                            li
                                a(href='#{external.tutorials.url}', title='#{external.tutorials.anchor}') #{external.tutorials.anchor}
                            li
                                a(href='http://www.upplication.com/blog/', title='#{external.helpcenter.anchor}') #{external.blog.anchor}
                    .col.l3.s12.footCol
                        h6 #{external.titles.uppl}
                        ul.uppOnFoot.footLinks(type='circle')
                            li
                                a(href='#tabs', title='#{external.features.anchor}') #{external.features.anchor}
                            li
                                a(href='#about', title='#{external.create_apps.anchor}') #{external.create_apps.anchor}
                            li
                                a(href='#tabs', title='#{external.apps.anchor}') #{external.apps.anchor}
                            li
                                a(href='#pricing', title='#{external.pricing.anchor}') #{external.pricing.anchor}
                    .col.l3.s12.footCol
                        h6 #{external.titles.misc}
                        ul.footLinks
                            li
                                a(href='#{external.team.url}', title='#{external.team.anchor}') #{external.team.anchor}
                            li
                                a(href='#{external.partners.url}', title='#{external.partners.anchor}') #{external.partners.anchor}
                            li
                                a(href='#{external.jobs.url}', title='#{external.jobs.anchor}') #{external.jobs.anchor}
                            li
                                a(href='#{external.breakfasts.url}', target='_blank', title='#{external.breakfasts.anchor}') #{external.breakfasts.anchor}
                            // li
                                a(href='#{external.media_kit.url}', title='#{external.media_kit.anchor}') #{external.media_kit.anchor}
                    .col.l3.s12.footCol
                        h6 #{external.titles.legal}
                        ul.footLinks
                            li
                                a(href='#{external.tos.url}', title='#{external.tos.anchor}') #{terms.legal.title}
                            li
                                a(href='#{external.tos.url}', title='#{terms.privacy.title}') #{terms.privacy.title}
                            li
                                a(href='#{external.tos.url}', title='#{footer.terms_of_use}') #{footer.terms_of_use}
                            li
                                a(href='#{external.tos.url}', title='#{footer.cookies_use}') #{footer.cookies_use}
            .clearfix
            .footer-copyright
                .container
                    span © #{footer.brand_copy}
                    i.fa.fa-circle
                    em #{footer.signature}
                    ul.rrss.right.hover-anim
                        li.facebook
                            a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
                                i.fa.fa-facebook
                        li.twitter
                            a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
                                i.fa.fa-twitter
                        li.instagram
                            a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
                                i.fa.fa-instagram
                        li.youtube
                            a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
                                i.fa.fa-youtube-play
                        li.linkedin
                            a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
                                i.fa.fa-linkedin
                        li.google
                            a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
                                i.fa.fa-google-plus
            .footer-bottom
                .container
                     ul
                        li
                            a(href='http://ec.europa.eu/regional_policy/es/funding/erdf/', target='_blank', title='UE fonde de desarrollo regional')
                               img(src='#{localConfig.base_path}/images/home/icons/eu.png', alt='UE fonde de desarrollo regional')
                        li
                            a(href='https://mixpanel.com/', target='_blank', title='Mixpanel mobile analytics')
                               img(src='#{localConfig.base_path}/images/home/icons/badge_light.png', alt='Mixpanel mobile analytics')
                        li
                            a(href='http://info.telefonica.es/portada/index.html', target='_blank', title='Telefónica')
                                img(src='#{localConfig.base_path}/images/home/icons/telefonica.png', alt='Telefónica')
        #cookies
            i#cookies-accept.fa.fa-times.close
            p !{footer.cookies}
        // vendor js
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/materialize/dist/js/materialize.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/typed.js/dist/typed.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js')
        // endvendor

        // build:js /scripts/app.v2.min.js
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/scroll.js')
        script(type="text/javascript", src='/scripts/v2/cookies.js')
        script(type="text/javascript", src='/scripts/v2/register.js')
        script(type="text/javascript", src='/scripts/v2/lang.js')
        // endbuild
        script.
            $(function () {
                $(".element").typed({
                    strings: !{JSON.stringify(home.slider.text)},
                    typeSpeed: 100,
                    startDelay: 200,
                    backDelay: 2500,
                    loop: true
                });
            });
        // smooth scrolling
        script(type='text/javascript').
            $(document).ready(function () {
                $("#clientsCarousel").owlCarousel({
                    autoPlay: 3000, // Set AutoPlay to 3 seconds
                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]
                });
                $('.scrollspy').scrollSpy();
                $('ul.tabs').tabs();
                $('.modal-trigger').leanModal({
                    opacity: .7
                });
                $('.parallax').parallax();
                $(".button-collapse").sideNav();
                $('.slider').slider({
                    indicators: false,
                    interval: 4000
                });
                var options = [
                    {selector: '#tabs', offset: 300, callback: 'Materialize.showStaggeredList("#tabs")'},
                    {selector: '#about', offset: 300, callback: 'Materialize.showStaggeredList(".timeline")'},
                    {selector: '#pricing', offset: 300, callback: 'Materialize.showStaggeredList(".incluye")'},
                ];
                Materialize.scrollFire(options);
                // Animate.css for web elements:
                var $imgMove = $('.imgMove'),
                        $imgFlash = $('.imgFlash');
                $imgMove.mouseenter(function () {
                    $(this).addClass("animated");
                    $(this).addClass("pulse");
                });
                $imgMove.mouseleave(function () {
                    $(this).removeClass("animated");
                    $(this).removeClass("pulse");
                });
                $imgFlash.mouseenter(function () {
                    $(this).addClass("animated");
                    $(this).addClass("rubberBand");
                });
                $imgFlash.mouseleave(function () {
                    $(this).removeClass("animated");
                    $(this).removeClass("rubberBand");
                });
                $('.social-share').click(function () {
                    $(".social-nav").toggleClass("social-show");
                });
                $('#cookies-accept').click(function () {
                    $("#habla_window_div").addClass("bottomFix");
                });
                $('.lang-link').dropdown({
                      inDuration: 300,
                      outDuration: 225,
                      constrain_width: false,
                      gutter: 0,
                      belowOrigin: false,
                      alignment: 'left'
                    }
                  );
            });
        // START MOBILE TOP NAVIGATION MENU
        script.
            $(function () {
                var $pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();
                $pull.on('click', function (e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    var w = $(window).width();
                    if (w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
                $pull.click(function () {
                    $(".hide-ul").removeClass("hide-tabs");
                });
                var windowWidth = $(window).width();
                if(windowWidth < 769){
                    $('.hide-tab').click(function () {
                        $(".hide-ul").addClass("hide-tabs");
                    });
                }
            });

        include base/scripts-thirdparties