extends microsites/base.jade
block vars
    - var title = $.terms_micro._meta_title
    - var description = $.terms_micro._meta_description
    - var keywords = $.terms_micro._keywords
    - var cssClass = 'terms_micro'
block css
    // build:css({.tmp, app}) /styles/terms_micro.min.css
    link(rel='stylesheet', href='/styles/css/microsites/terms_micro.css')
    // endbuild
block features
    // TERMS & CONDITIONS
    .col.s12.text-center.legal
        #legal.about.scrollspy
            .about-grids
                .container.animated.fadeIn
                    .about-left-grids
                        h4 !{terms.legal.title}
                        each paragraph in terms.legal.paragraphs
                            p !{paragraph}
                        h4#privacidad.scrollspy !{terms.privacy.title}
                        each paragraph in terms.privacy.paragraphs
                            p !{paragraph}
                        h4#uso.scrollspy !{terms.general.title}
                        each subsection in terms.general.subsections
                            h5 !{subsection.title}
                            each paragraph in subsection.paragraphs
                                p !{paragraph}
                        h4#cookies-policy.scrollspy !{terms.cookies.title}
                        each subsections in terms.cookies.subsections
                            h5 !{subsections.title}
                            each paragraph in subsections.paragraphs
                                p !{paragraph}