block vars

doctype html

//if lt IE 7
  <html class="ie ie6 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 7
  <html class="ie ie7 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 8
  <html class="ie ie8 no-js" lang="#{lang}" data-lang="#{lang}">
//if IE 9
  <html class="ie ie9 no-js" lang="#{lang}" data-lang="#{lang}">
// [if gt IE 9] <!
html.no-js(lang='#{lang}', data-lang="#{lang}")
    // <![endif]
    head

        title #{title}

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='author', content='Upplication Software Technologies, S.L.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='msapplication-TileImage', content='#{localConfig.base_path}/images/favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='google-site-verification', content='#{localConfig.webmaster_token}')
        meta(name="googlebot", content="noindex")
        meta(name="robots", content="noindex")

        include ../../base/scripts
        include ../../base/tagmanager-head
        include ../../base/newrelic

        each lang in langs.codes
            if routing[_template][lang.language_country].indexOf("http") != 0
                link(rel="alternate", href="https:#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")
            else
                link(rel="alternate", href="#{routing[_template][lang.language_country]}", hreflang="#{lang.language_country}")

        if routing[_template][lang].indexOf("http") != 0
            link(rel='canonical', href="https:#{routing[_template][lang]}")
        else
            link(rel='canonical', href="#{routing[_template][lang]}")

        //- FAVICON
        link(rel="apple-touch-icon", sizes="180x180", href='#{localConfig.base_path}/images/santander-totta/favicon/apple-touch-icon.png')
        link(rel="icon", type="image/png", sizes="32x32", href="#{localConfig.base_path}/images/santander-totta/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="#{localConfig.base_path}/images/santander-totta/favicon/favicon-16x16.png")
        link(rel="manifest", href="#{localConfig.base_path}/images/santander-totta/favicon/site.webmanifest")
        link(rel="mask-icon", href="#{localConfig.base_path}/images/santander-totta/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#b91d47")
        meta(name="theme-color", content="#ffffff")

        //- CSS files
        link(rel='stylesheet', href='#{localConfig.base_path}/styles/vendor/base.css')

        block css

    body
        include ../../base/tagmanager-body
        //- MAIN HEADER
        #home.header
            #move-top.top-header
                .santander-totta
                .upplication
                    .container
                        .logo
                            a.bst(href='#{santander_totta.upplication.url}', alt='#{santander_totta.upplication.title}')
                                img.bst-upplication(src='#{localConfig.base_path}/images/home/icons/upplication.svg', title='#{santander_totta.upplication.title}', alt='#{santander_totta.upplication.title}')
                            a.bst(href='#{santander_totta.logo.url}', alt='#{santander_totta.logo.title}')
                                img.bst-advance-empresas(src='#{localConfig.base_path}/images/santander-totta/santander-advance-empresas.svg', title='#{santander_totta.logo.title}', alt='#{santander_totta.logo.title}')
                        nav.top-nav
                            ul.top-nav-list.hide-ul
                                li.phone-support-pt
                                    a(href="#{santander_totta.support.url}", title="#{santander_totta.support.title}")
                                        | #{santander_totta.support.phone}
                                li.enter-btn
                                    a.hide-tab(href="#{localConfig.dashboard_base_path}/v2/login?request_locale=pt")
                                        i.icon.icon-key
                                        | #{santander_totta.dashboard.enter}
                                //- TODO: temporarily disabled by Pedro´s (Portugal) request!
                                    li.contact-info
                                        .contact-info-grids
                                            .contact-info-left
                                                a.chat(href='#free-trial', title='#{santander_totta.teledemo.title}') #{santander_totta.teledemo.btn}
                            //- Three animated bars for drop down main navbar in mobile
                            a#pull(href='')
                                span
                                span
                                span
                                span

        //- MODAL :: FREE TRIAL
        #free-trial.modal.modal-upp
            include ../includes/modal-free

        //- CONTENT
        block content

        //- Cookies alert
        #cookies
            i#cookies-accept.icon.icon-cross
            p !{santander_totta.cookies}


        script(type="text/javascript", src='#{localConfig.base_path}/scripts/vendor/base.js')
        script(type="text/javascript", src='#{localConfig.base_path}/scripts/main.js')

        //- end scripts
        script(type='text/javascript').
            $(document).ready(function () {

                $('.materialboxed').materialbox();

                //- navbar
                var $pull = $('#pull');
                menu = $('.top-nav-list');
                menuHeight = menu.height();
                $pull.on('click', function (e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    var w = $(window).width();
                    if (w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
                $pull.click(function () {
                    $(".hide-ul").removeClass("hide-tabs");
                });
                var windowWidth = $(window).width();

                //- header resize when scroll
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();
                    if (scroll >= 250) {
                        $(".top-header").addClass("thiny-top-header");
                    } else {
                        $(".top-header").removeClass("thiny-top-header");
                    }
                });
            });
            //- init animations
            AOS.init({once: true});

        block scripts
        //- end scripts